/* screen - ahorrar2 */

.ahorrar2 {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.ahorrar2 .group-311-C61RwL {
  background-color: transparent;
  height: 172px;
  left: 18px;
  position: absolute;
  top: 716px;
  width: 360px;
}

.ahorrar2 .rectangle-44-lnjA89 {
  background-color: transparent;
  height: 128px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 22px;
  width: 354px;
}

.ahorrar2 .mask-group-lnjA89 {
  background-color: transparent;
  height: 111px;
  left: -0px;
  position: absolute;
  top: -1px;
  width: 354px;
}

.ahorrar2 .vamos-por-138400-lnjA89 {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 151px;
  width: 112px;
}

.ahorrar2 .meta-1560000-lnjA89 {
  background-color: transparent;
  height: auto;
  left: 249px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 151px;
  width: 91px;
}

.ahorrar2 .span0-CKDMro {
}

.ahorrar2 .span1-CKDMro {
}

.ahorrar2 .rectangle-34-lnjA89 {
  background-color: transparent;
  height: 1px;
  left: 178px;
  mix-blend-mode: normal;
  position: absolute;
  top: 142px;
  width: 1px;
}

.ahorrar2 .rectangle-35-lnjA89 {
  background-color: var(--azul);
  border-radius: 7.03px;
  height: 6px;
  left: 17px;
  mix-blend-mode: normal;
  position: absolute;
  top: 140px;
  width: 78px;
}

.ahorrar2 .la-moto-de-mis-sueos-lnjA89 {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 118px;
  width: 199px;
}

.ahorrar2 .status-bar-i-phone-13-13-pro-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ahorrar2 .indicators-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.ahorrar2 .elements-signal-DFyBAk {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.ahorrar2 .cellular-connection-J8m9bL {
  background-color: transparent;
  height: 12px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.ahorrar2 .elements-connection-DFyBAk {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.ahorrar2 .wifi-rfGD5B {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.ahorrar2 .elements-battery-DFyBAk {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.ahorrar2 .border-4jFiZR {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.ahorrar2 .cap-4jFiZR {
  background-color: transparent;
  height: 4px;
  left: 26px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.ahorrar2 .capacity-4jFiZR {
  background-color: var(--black);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.ahorrar2 .mic-cam-ioFxYm {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.ahorrar2 .elements-time-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.ahorrar2 .time-ZiAW4B {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.ahorrar2 .we-are-caotic-ahorrar-C61RwL {
  background-color: transparent;
  height: auto;
  left: 116px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 59px;
  width: auto;
}

.ahorrar2 .span0-KpjGQV {
}

.ahorrar2 .span1-KpjGQV {
}

.ahorrar2 .group-309-C61RwL {
  background-color: transparent;
  height: 87px;
  left: 18px;
  position: absolute;
  top: 106px;
  width: 358px;
}

.ahorrar2 .rectangle-1373-gJGBzK {
  background-color: var(--limon);
  border-radius: 7px;
  height: 87px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 354px;
}

.ahorrar2 .mask-group-gJGBzK {
  background-color: transparent;
  height: 87px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 354px;
}

.ahorrar2 .recuerda-gJGBzK {
  background-color: transparent;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 13px;
  width: 142px;
}

.ahorrar2 .si-deseas-retirar-el-gJGBzK {
  background-color: transparent;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 32px;
  width: 255px;
}

.ahorrar2 .group-293-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 18px;
  position: absolute;
  top: 206px;
  width: 354px;
}

.ahorrar2 .rectangle-6-xlHGDl {
  background-color: transparent;
  height: 38px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 354px;
}

.ahorrar2 .group-313-xlHGDl {
  background-color: transparent;
  height: 14px;
  left: 77px;
  position: absolute;
  top: 10px;
  width: 201px;
}

.ahorrar2 .crear-nuevo-plan-de-ahorro-iQ7yEj {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 185px;
}

.ahorrar2 .union-iQ7yEj {
  background-color: transparent;
  height: 10px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 10px;
}

.ahorrar2 .group-87-C61RwL {
  background-color: transparent;
  height: 172px;
  left: 18px;
  position: absolute;
  top: 296px;
  width: 360px;
}

.ahorrar2 .rectangle-44-D1n0rW {
  background-color: transparent;
  height: 172px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 354px;
}

.ahorrar2 .mask-group-D1n0rW {
  background-color: transparent;
  height: 111px;
  left: -0px;
  position: absolute;
  top: -1px;
  width: 354px;
}

.ahorrar2 .vamos-por-1560000-D1n0rW {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 151px;
  width: 133px;
}

.ahorrar2 .meta-1560000-D1n0rW {
  background-color: transparent;
  height: auto;
  left: 249px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 151px;
  width: 91px;
}

.ahorrar2 .span0-ry7tBh {
}

.ahorrar2 .span1-ry7tBh {
}

.ahorrar2 .rectangle-34-D1n0rW {
  background-color: transparent;
  height: 6px;
  left: 17px;
  mix-blend-mode: normal;
  position: absolute;
  top: 139px;
  width: 322px;
}

.ahorrar2 .para-mi-nueva-vitrina-D1n0rW {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 118px;
  width: 199px;
}

.ahorrar2 .group-310-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 172px;
  left: 18px;
  position: absolute;
  top: 526px;
  width: 360px;
}

.ahorrar2 .rectangle-44-WvwkJm {
  background-color: transparent;
  height: 172px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 354px;
}

.ahorrar2 .mask-group-WvwkJm {
  background-color: transparent;
  height: 111px;
  left: -0px;
  position: absolute;
  top: -1px;
  width: 354px;
}

.ahorrar2 .vamos-por-138400-WvwkJm {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 151px;
  width: 112px;
}

.ahorrar2 .meta-1560000-WvwkJm {
  background-color: transparent;
  height: auto;
  left: 249px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 151px;
  width: 91px;
}

.ahorrar2 .span0-7LQz3y {
}

.ahorrar2 .span1-7LQz3y {
}

.ahorrar2 .rectangle-34-WvwkJm {
  background-color: transparent;
  height: 6px;
  left: 17px;
  mix-blend-mode: normal;
  position: absolute;
  top: 139px;
  width: 322px;
}

.ahorrar2 .rectangle-35-WvwkJm {
  background-color: var(--azul);
  border-radius: 7.03px;
  height: 6px;
  left: 17px;
  mix-blend-mode: normal;
  position: absolute;
  top: 140px;
  width: 78px;
}

.ahorrar2 .la-moto-de-mis-sueos-WvwkJm {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 118px;
  width: 199px;
}

.ahorrar2 .tus-planes-actuales-C61RwL {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 267px;
  width: 182px;
}

.ahorrar2 .rectangle-1376-C61RwL {
  background-color: transparent;
  height: 40px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 468px;
  width: 354px;
}

.ahorrar2 .felicidades-has-completado-tu-ahorro-C61RwL {
  background-color: transparent;
  height: auto;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 480px;
  width: 199px;
}

.ahorrar2 .rectangle-1377-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 244px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 476px;
  width: 113px;
}

.ahorrar2 .retirar-C61RwL {
  background-color: transparent;
  height: auto;
  left: 291px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 480px;
  width: 29px;
}

.ahorrar2 .nav-emprendimiento-C61RwL {
  background-color: transparent;
  height: 94px;
  left: -0px;
  position: absolute;
  top: 753px;
  width: 390px;
}
