/* screen - anadir-dinero-a-ahorro19 */

.anadir-dinero-a-ahorro19 {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.anadir-dinero-a-ahorro19 .nav-emprendimiento-C61RwL {
  background-color: transparent;
  height: 94px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 754px;
  width: 390px;
}

.anadir-dinero-a-ahorro19 .aadir-dinero-a-mi-ahorro-C61RwL {
  background-color: transparent;
  height: auto;
  left: 112px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 107px;
  width: auto;
}

.anadir-dinero-a-ahorro19 .vector-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 16px;
  left: 18px;
  position: absolute;
  top: 108px;
  width: 9px;
}

.anadir-dinero-a-ahorro19 .rectangle-8-C61RwL {
  background-color: transparent;
  height: 72px;
  left: 10px;
  mix-blend-mode: normal;
  position: absolute;
  top: -1px;
  width: 390px;
}

.anadir-dinero-a-ahorro19 .image-25-C61RwL {
  background-color: transparent;
  height: 72px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 390px;
}

.anadir-dinero-a-ahorro19 .status-bar-i-phone-13-13-pro-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: -0px;
  width: 390px;
}

.anadir-dinero-a-ahorro19 .indicators-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.anadir-dinero-a-ahorro19 .elements-signal-DFyBAk {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.anadir-dinero-a-ahorro19 .cellular-connection-J8m9bL {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.anadir-dinero-a-ahorro19 .elements-connection-DFyBAk {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.anadir-dinero-a-ahorro19 .wifi-rfGD5B {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.anadir-dinero-a-ahorro19 .elements-battery-DFyBAk {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.anadir-dinero-a-ahorro19 .border-4jFiZR {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.anadir-dinero-a-ahorro19 .cap-4jFiZR {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.anadir-dinero-a-ahorro19 .capacity-4jFiZR {
  background-color: var(--white);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.anadir-dinero-a-ahorro19 .mic-cam-ioFxYm {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.anadir-dinero-a-ahorro19 .elements-time-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.anadir-dinero-a-ahorro19 .time-ZiAW4B {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.anadir-dinero-a-ahorro19 .selecciona-un-bolsillo-C61RwL {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 161px;
  width: 331px;
}

.anadir-dinero-a-ahorro19 .check-C61RwL {
  background-color: transparent;
  height: 18px;
  left: 159px;
  position: absolute;
  top: 200px;
  width: 18px;
}

.anadir-dinero-a-ahorro19 .ellipse-103-RFbRpq {
  background-color: var(--cielo-osc);
  border-radius: 9px;
  height: 18px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 18px;
}

.anadir-dinero-a-ahorro19 .check-RFbRpq {
  background-color: transparent;
  height: 8px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 11px;
}

.anadir-dinero-a-ahorro19 .sueos-C61RwL {
  background-color: transparent;
  height: auto;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 328px;
  white-space: nowrap;
  width: 108px;
}

.anadir-dinero-a-ahorro19 .comida-C61RwL {
  background-color: transparent;
  height: auto;
  left: 231px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 328px;
  white-space: nowrap;
  width: 93px;
}

.anadir-dinero-a-ahorro19 .no-gastar-C61RwL {
  background-color: transparent;
  height: auto;
  left: 67px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 493px;
  white-space: nowrap;
  width: 93px;
}

.anadir-dinero-a-ahorro19 .image-21-C61RwL {
  background-color: transparent;
  height: 99px;
  left: 64px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 218px;
  width: 99px;
}

.anadir-dinero-a-ahorro19 .image-22-C61RwL {
  background-color: transparent;
  height: 99px;
  left: 228px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 218px;
  width: 99px;
}

.anadir-dinero-a-ahorro19 .image-23-C61RwL {
  background-color: transparent;
  height: 99px;
  left: 64px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 383px;
  width: 99px;
}

.anadir-dinero-a-ahorro19 .otros-C61RwL {
  background-color: transparent;
  height: auto;
  left: 224px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 493px;
  white-space: nowrap;
  width: 105px;
}

.anadir-dinero-a-ahorro19 .image-24-C61RwL {
  background-color: transparent;
  height: 99px;
  left: 228px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 383px;
  width: 99px;
}

.anadir-dinero-a-ahorro19 .group-293-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 19px;
  position: absolute;
  top: 711px;
  width: 354px;
}

.anadir-dinero-a-ahorro19 .rectangle-6-xlHGDl {
  background-color: transparent;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 354px;
}

.anadir-dinero-a-ahorro19 .group-313-xlHGDl {
  background-color: transparent;
  height: 14px;
  left: 91px;
  position: absolute;
  top: 10px;
  width: 187px;
}

.anadir-dinero-a-ahorro19 .continuar-iQ7yEj {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 185px;
}
