/* screen - anadir-dinero-a-ahorro-8 */

.anadir-dinero-a-ahorro-8 {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.anadir-dinero-a-ahorro-8 .nav-emprendimiento-C61RwL {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 770px;
  width: 390px;
}

.anadir-dinero-a-ahorro-8 .rectangle-1463-VNtfJe {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.anadir-dinero-a-ahorro-8 .union-VNtfJe {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 226px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 37px;
}

.anadir-dinero-a-ahorro-8 .union-t9QcV5 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 35px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.anadir-dinero-a-ahorro-8 .union-pIWv0k {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.anadir-dinero-a-ahorro-8 .union-rK7kDd {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}

.anadir-dinero-a-ahorro-8 .aadir-dinero-a-mi-ahorro-C61RwL {
  background-color: transparent;
  height: auto;
  left: 112px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 107px;
  width: auto;
}

.anadir-dinero-a-ahorro-8 .vector-C61RwL {
  background-color: transparent;
  height: 16px;
  left: 19px;
  position: absolute;
  top: 108px;
  width: 9px;
}

.anadir-dinero-a-ahorro-8 .rectangle-8-C61RwL {
  background-color: transparent;
  height: 72px;
  left: 10px;
  mix-blend-mode: normal;
  position: absolute;
  top: -1px;
  width: 390px;
}

.anadir-dinero-a-ahorro-8 .image-20-C61RwL {
  background-color: transparent;
  height: 72px;
  left: -0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 390px;
}

.anadir-dinero-a-ahorro-8 .status-bar-i-phone-13-13-pro-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: -0px;
  width: 390px;
}

.anadir-dinero-a-ahorro-8 .indicators-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.anadir-dinero-a-ahorro-8 .elements-signal-DFyBAk {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.anadir-dinero-a-ahorro-8 .icon-bar_chart-J8m9bL {
  background-color: transparent;
  height: 12px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.anadir-dinero-a-ahorro-8 .elements-connection-DFyBAk {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.anadir-dinero-a-ahorro-8 .icon-signal-rfGD5B {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.anadir-dinero-a-ahorro-8 .elements-battery-DFyBAk {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.anadir-dinero-a-ahorro-8 .border-4jFiZR {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.anadir-dinero-a-ahorro-8 .cap-4jFiZR {
  background-color: transparent;
  height: 4px;
  left: 26px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.anadir-dinero-a-ahorro-8 .capacity-4jFiZR {
  background-color: var(--white);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.anadir-dinero-a-ahorro-8 .mic-cam-ioFxYm {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.anadir-dinero-a-ahorro-8 .elements-time-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.anadir-dinero-a-ahorro-8 .time-ZiAW4B {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.anadir-dinero-a-ahorro-8 .dinero-actual-en-el-plan-de-ahorro-C61RwL {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 169px;
  width: 166px;
}

.anadir-dinero-a-ahorro-8 .x138400-C61RwL {
  background-color: transparent;
  height: auto;
  left: 269px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 186px;
  white-space: nowrap;
  width: 90px;
}

.anadir-dinero-a-ahorro-8 .x1322000-C61RwL {
  background-color: transparent;
  height: auto;
  left: 269px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 317px;
  white-space: nowrap;
  width: 90px;
}

.anadir-dinero-a-ahorro-8 .restante-para-completar-el-plan-C61RwL {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 300px;
  width: 182px;
}

.anadir-dinero-a-ahorro-8 .origen-del-dinero-C61RwL {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 361px;
  white-space: nowrap;
  width: 182px;
}

.anadir-dinero-a-ahorro-8 .bolsillo-otros-C61RwL {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 386px;
  white-space: nowrap;
  width: 182px;
}

.anadir-dinero-a-ahorro-8 .dinero-a-aadir-C61RwL {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 223px;
  white-space: nowrap;
  width: 182px;
}

.anadir-dinero-a-ahorro-8 .total-C61RwL {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 261px;
  white-space: nowrap;
  width: 182px;
}

.anadir-dinero-a-ahorro-8 .x2380000-C61RwL {
  background-color: transparent;
  height: auto;
  left: 177px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 261px;
  white-space: nowrap;
  width: 182px;
}

.anadir-dinero-a-ahorro-8 .vector-115-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 30px;
  position: absolute;
  top: 251px;
  width: 329px;
}

.anadir-dinero-a-ahorro-8 .vector-117-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 30px;
  position: absolute;
  top: 287px;
  width: 329px;
}

.anadir-dinero-a-ahorro-8 .vector-118-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 30px;
  position: absolute;
  top: 349px;
  width: 329px;
}

.anadir-dinero-a-ahorro-8 .rectangle-1418-C61RwL {
  background-color: var(--cielo);
  border-radius: 3px;
  height: 23px;
  left: 336px;
  mix-blend-mode: normal;
  position: absolute;
  top: 218px;
  width: 23px;
}

.anadir-dinero-a-ahorro-8 .rectangle-1420-C61RwL {
  background-color: var(--cielo);
  border-radius: 3px;
  height: 23px;
  left: 209px;
  mix-blend-mode: normal;
  position: absolute;
  top: 218px;
  width: 23px;
}

.anadir-dinero-a-ahorro-8 .rectangle-1419-C61RwL {
  background-color: var(--cielo-claro);
  border-radius: 3px;
  height: 23px;
  left: 238px;
  mix-blend-mode: normal;
  position: absolute;
  top: 218px;
  width: 92px;
}

.anadir-dinero-a-ahorro-8 .union-C61RwL {
  background-color: transparent;
  height: 12px;
  left: 342px;
  mix-blend-mode: normal;
  position: absolute;
  top: 224px;
  width: 12px;
}

.anadir-dinero-a-ahorro-8 .union-VMr6Om {
  background-color: transparent;
  height: 2px;
  left: 215px;
  mix-blend-mode: normal;
  position: absolute;
  top: 228px;
  width: 12px;
}

.anadir-dinero-a-ahorro-8 .x100000-C61RwL {
  background-color: transparent;
  height: auto;
  left: 246px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 220px;
  white-space: nowrap;
  width: 76px;
}

.anadir-dinero-a-ahorro-8 .group-293-C61RwL {
  background-color: transparent;
  height: 38px;
  left: 19px;
  position: absolute;
  top: 711px;
  width: 354px;
}

.anadir-dinero-a-ahorro-8 .rectangle-6-xlHGDl {
  background-color: transparent;
  height: 38px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 354px;
}

.anadir-dinero-a-ahorro-8 .group-313-xlHGDl {
  background-color: transparent;
  height: 14px;
  left: 91px;
  position: absolute;
  top: 10px;
  width: 187px;
}

.anadir-dinero-a-ahorro-8 .confirmar-iQ7yEj {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 185px;
}

.anadir-dinero-a-ahorro-8 .rectangle-1326-C61RwL {
  background-color: transparent;
  height: 698px;
  left: -2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 72px;
  width: 390px;
}

.anadir-dinero-a-ahorro-8 .group-287-C61RwL {
  background-color: transparent;
  height: 370px;
  left: 28px;
  position: absolute;
  top: 216px;
  width: 333px;
}

.anadir-dinero-a-ahorro-8 .group-102-dxpL0E {
  background-color: transparent;
  height: 370px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 333px;
}

.anadir-dinero-a-ahorro-8 .rectangle-1325-JBujDX {
  background-color: var(--hint-of-red);
  border-radius: 10px;
  height: 370px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 333px;
}

.anadir-dinero-a-ahorro-8 .group-101-JBujDX {
  background-color: transparent;
  height: 72px;
  left: 48px;
  position: absolute;
  top: 195px;
  width: 243px;
}

.anadir-dinero-a-ahorro-8 .felicidades-Iifa4W {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 239px;
}

.anadir-dinero-a-ahorro-8 .se-aadi-dinero-a-tu-Iifa4W {
  background-color: transparent;
  height: auto;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 42px;
  width: 214px;
}

.anadir-dinero-a-ahorro-8 .rectangle-16-dxpL0E {
  background-color: transparent;
  height: 123px;
  left: 104px;
  mix-blend-mode: normal;
  position: absolute;
  top: 40px;
  width: 123px;
}

.anadir-dinero-a-ahorro-8 .group-100-dxpL0E {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 89px;
  position: absolute;
  top: 294px;
  width: 158px;
}

.anadir-dinero-a-ahorro-8 .rectangle-1324-xi907J {
  background-color: var(--cielo);
  border-radius: 7.5px;
  height: 37px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 156px;
}

.anadir-dinero-a-ahorro-8 .aceptar-xi907J {
  background-color: transparent;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 61px;
}
