/* screen - carrito-con-algo-cliente */

.carrito-con-algo-cliente {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.carrito-con-algo-cliente .nav-cliente-default-C61RwL {
  background-color: transparent;
  height: 94px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 753px;
  width: 390px;
}

.carrito-con-algo-cliente .status-bar-i-phone-13-13-pro-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.carrito-con-algo-cliente .indicators-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.carrito-con-algo-cliente .elements-signal-DFyBAk {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.carrito-con-algo-cliente .cellular-connection-J8m9bL {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.carrito-con-algo-cliente .elements-connection-DFyBAk {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.carrito-con-algo-cliente .wifi-rfGD5B {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.carrito-con-algo-cliente .elements-battery-DFyBAk {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.carrito-con-algo-cliente .border-4jFiZR {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.carrito-con-algo-cliente .cap-4jFiZR {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.carrito-con-algo-cliente .capacity-4jFiZR {
  background-color: var(--black);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.carrito-con-algo-cliente .mic-cam-ioFxYm {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.carrito-con-algo-cliente .elements-time-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.carrito-con-algo-cliente .time-ZiAW4B {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.carrito-con-algo-cliente .tu-carrito-C61RwL {
  background-color: transparent;
  height: auto;
  left: 164px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 51px;
  width: auto;
}

.carrito-con-algo-cliente .subtotal-C61RwL {
  background-color: transparent;
  height: auto;
  left: 49px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 398px;
  width: auto;
}

.carrito-con-algo-cliente .puede-aplicarse-cargos-adicionales-C61RwL {
  background-color: transparent;
  color: var(--osc-intermedio);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 49px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 417px;
  width: auto;
}

.carrito-con-algo-cliente .x180000-C61RwL {
  background-color: transparent;
  height: auto;
  left: 299px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 398px;
  width: auto;
}

.carrito-con-algo-cliente .vector-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 16px;
  left: 18px;
  position: absolute;
  top: 52px;
  width: 9px;
}

.carrito-con-algo-cliente .anillo-curvy-C61RwL {
  background-color: transparent;
  height: 25px;
  left: 147px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 105px;
  white-space: nowrap;
  width: 224px;
}

.carrito-con-algo-cliente .cop-45000-C61RwL {
  background-color: transparent;
  height: 25px;
  left: 147px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 128px;
  white-space: nowrap;
  width: 224px;
}

.carrito-con-algo-cliente .x1-C61RwL {
  background-color: transparent;
  height: 25px;
  left: 178px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 163px;
  white-space: nowrap;
  width: 74px;
}

.carrito-con-algo-cliente .x1-VMr6Om {
  background-color: transparent;
  height: 25px;
  left: 178px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 297px;
  white-space: nowrap;
  width: 74px;
}

.carrito-con-algo-cliente .conjunto-army-C61RwL {
  background-color: transparent;
  height: 25px;
  left: 147px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 240px;
  white-space: nowrap;
  width: 224px;
}

.carrito-con-algo-cliente .cop-135000-C61RwL {
  background-color: transparent;
  height: 25px;
  left: 147px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 263px;
  white-space: nowrap;
  width: 224px;
}

.carrito-con-algo-cliente .rectangle-1339-C61RwL {
  background-color: transparent;
  height: 83px;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 240px;
  width: 83px;
}

.carrito-con-algo-cliente .rectangle-1356-C61RwL {
  background-color: var(--cielo-osc);
  border-radius: 2px;
  height: 25px;
  left: 149px;
  mix-blend-mode: normal;
  position: absolute;
  top: 163px;
  width: 25px;
}

.carrito-con-algo-cliente .rectangle-1359-C61RwL {
  background-color: var(--cielo-osc);
  border-radius: 2px;
  height: 25px;
  left: 149px;
  mix-blend-mode: normal;
  position: absolute;
  top: 298px;
  width: 25px;
}

.carrito-con-algo-cliente .rectangle-1358-C61RwL {
  background-color: transparent;
  border-radius: 2px;
  height: 25px;
  left: 178px;
  position: absolute;
  top: 163px;
  width: 74px;
}

.carrito-con-algo-cliente .rectangle-1360-C61RwL {
  background-color: transparent;
  border-radius: 2px;
  height: 25px;
  left: 178px;
  position: absolute;
  top: 298px;
  width: 74px;
}

.carrito-con-algo-cliente .rectangle-1357-C61RwL {
  background-color: var(--cielo-osc);
  border-radius: 2px;
  height: 25px;
  left: 255px;
  mix-blend-mode: normal;
  position: absolute;
  top: 163px;
  width: 25px;
}

.carrito-con-algo-cliente .rectangle-1361-C61RwL {
  background-color: var(--cielo-osc);
  border-radius: 2px;
  height: 25px;
  left: 255px;
  mix-blend-mode: normal;
  position: absolute;
  top: 298px;
  width: 25px;
}

.carrito-con-algo-cliente .plus-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 258px;
  position: absolute;
  top: 166px;
  width: 19px;
}

.carrito-con-algo-cliente .plus-VMr6Om {
  background-color: transparent;
  height: 19px;
  left: 258px;
  position: absolute;
  top: 301px;
  width: 19px;
}

.carrito-con-algo-cliente .plus-mzXdH9 {
  background-color: transparent;
  height: 19px;
  left: 151px;
  position: absolute;
  top: 166px;
  width: 19px;
}

.carrito-con-algo-cliente .plus-QxM5SU {
  background-color: transparent;
  height: 19px;
  left: 151px;
  position: absolute;
  top: 301px;
  width: 19px;
}

.carrito-con-algo-cliente .delete-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 324px;
  mix-blend-mode: normal;
  position: absolute;
  top: 106px;
  width: 19px;
}

.carrito-con-algo-cliente .delete-VMr6Om {
  background-color: transparent;
  height: 19px;
  left: 324px;
  mix-blend-mode: normal;
  position: absolute;
  top: 240px;
  width: 19px;
}

.carrito-con-algo-cliente .line-7-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 28px;
  position: absolute;
  top: 383px;
  width: 334px;
}

.carrito-con-algo-cliente .group-275-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 28px;
  position: absolute;
  top: 681px;
  width: 334px;
}

.carrito-con-algo-cliente .rectangle-6-rAUMjq {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 334px;
}

.carrito-con-algo-cliente .enviar-rAUMjq {
  background-color: transparent;
  height: 38px;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 289px;
}

.carrito-con-algo-cliente .rectangle-1342-C61RwL {
  background-color: transparent;
  height: 82px;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 106px;
  width: 83px;
}
