/* screen - catalogo-emprendedor-anadir-articulo-7 */

.catalogo-emprendedor-anadir-articulo-7 {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.catalogo-emprendedor-anadir-articulo-7 .anillos-golden-C61RwL {
  background-color: transparent;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 412px;
  width: 316px;
}

.catalogo-emprendedor-anadir-articulo-7 .cop-150000-C61RwL {
  background-color: transparent;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 499px;
  white-space: nowrap;
  width: 316px;
}

.catalogo-emprendedor-anadir-articulo-7 .conjunto-de-anillos-C61RwL {
  background-color: transparent;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 438px;
  width: 316px;
}

.catalogo-emprendedor-anadir-articulo-7 .status-bar-i-phone-13-13-pro-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.catalogo-emprendedor-anadir-articulo-7 .indicators-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.catalogo-emprendedor-anadir-articulo-7 .elements-signal-DFyBAk {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.catalogo-emprendedor-anadir-articulo-7 .icon-bar_chart-J8m9bL {
  background-color: transparent;
  height: 12px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.catalogo-emprendedor-anadir-articulo-7 .elements-connection-DFyBAk {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.catalogo-emprendedor-anadir-articulo-7 .icon-signal-rfGD5B {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.catalogo-emprendedor-anadir-articulo-7 .elements-battery-DFyBAk {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.catalogo-emprendedor-anadir-articulo-7 .border-4jFiZR {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.catalogo-emprendedor-anadir-articulo-7 .cap-4jFiZR {
  background-color: transparent;
  height: 4px;
  left: 26px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.catalogo-emprendedor-anadir-articulo-7 .capacity-4jFiZR {
  background-color: var(--black);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.catalogo-emprendedor-anadir-articulo-7 .mic-cam-ioFxYm {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.catalogo-emprendedor-anadir-articulo-7 .elements-time-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.catalogo-emprendedor-anadir-articulo-7 .time-ZiAW4B {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.catalogo-emprendedor-anadir-articulo-7 .admin-de-catlogo-C61RwL {
  background-color: transparent;
  height: auto;
  left: 131px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 51px;
  width: auto;
}

.catalogo-emprendedor-anadir-articulo-7 .vector-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 16px;
  left: 19px;
  position: absolute;
  top: 52px;
  width: 9px;
}

.catalogo-emprendedor-anadir-articulo-7 .nav-emprendimiento-C61RwL {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 769px;
  width: 390px;
}

.catalogo-emprendedor-anadir-articulo-7 .rectangle-1463-VNtfJe {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.catalogo-emprendedor-anadir-articulo-7 .union-VNtfJe {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 37px;
}

.catalogo-emprendedor-anadir-articulo-7 .union-t9QcV5 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 35px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.catalogo-emprendedor-anadir-articulo-7 .union-pIWv0k {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.catalogo-emprendedor-anadir-articulo-7 .union-rK7kDd {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}

.catalogo-emprendedor-anadir-articulo-7 .fotos-C61RwL::-webkit-scrollbar {
  display: none;
  width: 0;
}

.catalogo-emprendedor-anadir-articulo-7 .fotos-C61RwL {
  background-color: transparent;
  height: 260px;
  left: -0px;
  mix-blend-mode: normal;
  overflow-x: scroll;
  position: absolute;
  top: 106px;
  width: 558px;
}

.catalogo-emprendedor-anadir-articulo-7 .rectangle-1337-feFBRy {
  background-color: transparent;
  height: 260px;
  left: 28px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 260px;
}

.catalogo-emprendedor-anadir-articulo-7 .group-274-feFBRy {
  background-color: transparent;
  height: 260px;
  left: 298px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.catalogo-emprendedor-anadir-articulo-7 .rectangle-1338-QOEd29 {
  background-color: transparent;
  height: 260px;
  left: 84px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 92px;
}

.catalogo-emprendedor-anadir-articulo-7 .ellipse-87-C61RwL {
  background-color: var(--cielo-osc);
  border-radius: 30px;
  height: 60px;
  left: 302px;
  mix-blend-mode: normal;
  position: absolute;
  top: 682px;
  width: 60px;
}

.catalogo-emprendedor-anadir-articulo-7 .edit-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 319px;
  mix-blend-mode: normal;
  position: absolute;
  top: 701px;
  width: 24px;
}
