/* screen - chat-emprendedor */

.chat-emprendedor {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.chat-emprendedor .ellipse-6-C61RwL {
  background-color: var(--mist-gray);
  border-radius: 23px;
  height: 46px;
  left: -63px;
  mix-blend-mode: normal;
  position: absolute;
  top: 664px;
  width: 46px;
}

.chat-emprendedor .ellipse-7-C61RwL {
  background-color: var(--mist-gray);
  border-radius: 23px;
  height: 46px;
  left: 407px;
  mix-blend-mode: normal;
  position: absolute;
  top: 664px;
  width: 46px;
}

.chat-emprendedor .group-345-C61RwL {
  background-color: transparent;
  height: 376px;
  left: 28px;
  position: absolute;
  top: 136px;
  width: 359px;
}

.chat-emprendedor .rectangle-355-OqWyuM {
  background-color: var(--cielo-claro);
  border-radius: 10px;
  box-shadow: 0px 0px 8px #0000001a;
  cursor: pointer;
  height: 79px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 335px;
}

.chat-emprendedor .rectangle-356-OqWyuM {
  background-color: var(--cielo-claro);
  border-radius: 10px;
  box-shadow: 0px 0px 8px #0000001a;
  height: 79px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 99px;
  width: 335px;
}

.chat-emprendedor .rectangle-357-OqWyuM {
  background-color: var(--cielo-claro);
  border-radius: 10px;
  box-shadow: 0px 0px 8px #0000001a;
  height: 79px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 198px;
  width: 335px;
}

.chat-emprendedor .rectangle-358-OqWyuM {
  background-color: var(--cielo-claro);
  border-radius: 10px;
  box-shadow: 0px 0px 8px #0000001a;
  height: 79px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 297px;
  width: 335px;
}

.chat-emprendedor .ellipse-18-OqWyuM {
  background-color: var(--mist-gray);
  border-radius: 25px;
  height: 50px;
  left: 16px;
  mix-blend-mode: normal;
  position: absolute;
  top: 114px;
  width: 50px;
}

.chat-emprendedor .ellipse-19-OqWyuM {
  background-color: var(--mist-gray);
  border-radius: 25px;
  height: 50px;
  left: 16px;
  mix-blend-mode: normal;
  position: absolute;
  top: 213px;
  width: 50px;
}

.chat-emprendedor .ellipse-20-OqWyuM {
  background-color: var(--mist-gray);
  border-radius: 25px;
  height: 50px;
  left: 16px;
  mix-blend-mode: normal;
  position: absolute;
  top: 312px;
  width: 50px;
}

.chat-emprendedor .x1023-am-OqWyuM {
  background-color: transparent;
  height: auto;
  left: 275px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  width: auto;
}

.chat-emprendedor .x1050-m-OqWyuM {
  background-color: transparent;
  height: auto;
  left: 275px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 108px;
  width: auto;
}

.chat-emprendedor .x1203-pm-OqWyuM {
  background-color: transparent;
  height: auto;
  left: 275px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 207px;
  width: auto;
}

.chat-emprendedor .x1030-pm-OqWyuM {
  background-color: transparent;
  height: auto;
  left: 276px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 306px;
  width: auto;
}

.chat-emprendedor .recuerda-por-favor-enviarlo-a-esta-direc-OqWyuM {
  background-color: transparent;
  height: auto;
  left: 79px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 144px;
  width: 202px;
}

.chat-emprendedor .me-encanta-OqWyuM {
  background-color: transparent;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 45px;
  width: 202px;
}

.chat-emprendedor .si-me-llegaron-muchisimas-gracias-OqWyuM {
  background-color: transparent;
  height: auto;
  left: 81px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 342px;
  width: 202px;
}

.chat-emprendedor .escribiendo-OqWyuM {
  background-color: transparent;
  height: auto;
  left: 79px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 243px;
  width: 215px;
}

.chat-emprendedor .mateo-ramos-OqWyuM {
  background-color: transparent;
  height: auto;
  left: 79px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  width: auto;
}

.chat-emprendedor .edwin-pea-OqWyuM {
  background-color: transparent;
  height: auto;
  left: 79px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 124px;
  width: auto;
}

.chat-emprendedor .ana-moreno-OqWyuM {
  background-color: transparent;
  height: auto;
  left: 79px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 223px;
  width: auto;
}

.chat-emprendedor .maria-polanco-OqWyuM {
  background-color: transparent;
  height: auto;
  left: 79px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 322px;
  width: auto;
}

.chat-emprendedor .mask-group-OqWyuM {
  background-color: transparent;
  height: 50px;
  left: 16px;
  position: absolute;
  top: 114px;
  width: 50px;
}

.chat-emprendedor .mask-group-82Vrk1 {
  background-color: transparent;
  height: 50px;
  left: 16px;
  position: absolute;
  top: 213px;
  width: 50px;
}

.chat-emprendedor .mask-group-epG6Qt {
  background-color: transparent;
  height: 50px;
  left: 16px;
  position: absolute;
  top: 312px;
  width: 50px;
}

.chat-emprendedor .ellipse-36-OqWyuM {
  background-color: var(--text);
  border-radius: 5px;
  height: 10px;
  left: 58px;
  mix-blend-mode: normal;
  position: absolute;
  top: 349px;
  width: 10px;
}

.chat-emprendedor .group-341-OqWyuM {
  background-color: transparent;
  height: 11px;
  left: 309px;
  position: absolute;
  top: 349px;
  width: 21px;
}

.chat-emprendedor .group-340-D2WT2W {
  background-color: transparent;
  height: 11px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 15px;
}

.chat-emprendedor .line-21-4e15nx {
  background-color: transparent;
  height: 6px;
  left: -1px;
  position: absolute;
  top: 5px;
  width: 6px;
}

.chat-emprendedor .line-22-4e15nx {
  background-color: transparent;
  height: 10px;
  left: 4px;
  position: absolute;
  top: -1px;
  width: 11px;
}

.chat-emprendedor .line-21-D2WT2W {
  background-color: transparent;
  height: 4px;
  left: 7px;
  position: absolute;
  top: 7px;
  width: 4px;
}

.chat-emprendedor .line-22-D2WT2W {
  background-color: transparent;
  height: 10px;
  left: 10px;
  position: absolute;
  top: -1px;
  width: 11px;
}

.chat-emprendedor .group-342-OqWyuM {
  background-color: transparent;
  height: 11px;
  left: 309px;
  position: absolute;
  top: 158px;
  width: 21px;
}

.chat-emprendedor .group-340-dxrR9X {
  background-color: transparent;
  height: 11px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 15px;
}

.chat-emprendedor .line-21-Q5stFU {
  background-color: transparent;
  height: 6px;
  left: -1px;
  position: absolute;
  top: 5px;
  width: 6px;
}

.chat-emprendedor .line-22-Q5stFU {
  background-color: transparent;
  height: 10px;
  left: 4px;
  position: absolute;
  top: -1px;
  width: 11px;
}

.chat-emprendedor .line-21-dxrR9X {
  background-color: transparent;
  height: 4px;
  left: 7px;
  position: absolute;
  top: 7px;
  width: 4px;
}

.chat-emprendedor .line-22-dxrR9X {
  background-color: transparent;
  height: 10px;
  left: 10px;
  position: absolute;
  top: -1px;
  width: 11px;
}

.chat-emprendedor .unsplashp0-b7ueo-zz8-e-OqWyuM {
  background-color: transparent;
  height: 50px;
  left: 16px;
  mix-blend-mode: normal;
  position: absolute;
  top: 114px;
  width: 50px;
}

.chat-emprendedor .ellipse-88-OqWyuM {
  background-color: transparent;
  height: 19px;
  left: 302px;
  mix-blend-mode: normal;
  position: absolute;
  top: 33px;
  width: 19px;
}

.chat-emprendedor .ellipse-253-OqWyuM {
  background-color: transparent;
  height: 50px;
  left: 16px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 50px;
}

.chat-emprendedor .ellipse-35-OqWyuM {
  background-color: var(--text);
  border-radius: 5px;
  height: 10px;
  left: 56px;
  mix-blend-mode: normal;
  position: absolute;
  top: 52px;
  width: 10px;
}

.chat-emprendedor .nav-emprendimiento-C61RwL {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 769px;
  width: 390px;
}

.chat-emprendedor .rectangle-1463-VNtfJe {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.chat-emprendedor .union-VNtfJe {
  background-color: transparent;
  height: 35px;
  left: 226px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 37px;
}

.chat-emprendedor .union-t9QcV5 {
  background-color: transparent;
  height: 37px;
  left: 35px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.chat-emprendedor .union-pIWv0k {
  background-color: transparent;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.chat-emprendedor .union-rK7kDd {
  background-color: transparent;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}

.chat-emprendedor .clientes-proveedores-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 119px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 59px;
  width: auto;
}

.chat-emprendedor .span0-OsveDH {
}

.chat-emprendedor .span1-OsveDH {
}

.chat-emprendedor .vector-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 16px;
  left: 19px;
  position: absolute;
  top: 61px;
  width: 9px;
}

.chat-emprendedor .status-bar-i-phone-13-13-pro-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.chat-emprendedor .indicators-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.chat-emprendedor .elements-signal-DFyBAk {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.chat-emprendedor .icon-bar_chart-J8m9bL {
  background-color: transparent;
  height: 12px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.chat-emprendedor .elements-connection-DFyBAk {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.chat-emprendedor .icon-signal-rfGD5B {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.chat-emprendedor .elements-battery-DFyBAk {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.chat-emprendedor .border-4jFiZR {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.chat-emprendedor .cap-4jFiZR {
  background-color: transparent;
  height: 4px;
  left: 26px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.chat-emprendedor .capacity-4jFiZR {
  background-color: var(--black);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.chat-emprendedor .mic-cam-ioFxYm {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.chat-emprendedor .elements-time-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.chat-emprendedor .time-ZiAW4B {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
