/* screen - chat-proveedores */

.chat-proveedores {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 392px;
}

.chat-proveedores .ellipse-6-C61RwL {
  background-color: var(--mist-gray);
  border-radius: 23px;
  height: 46px;
  left: -63px;
  mix-blend-mode: normal;
  position: absolute;
  top: 664px;
  width: 46px;
}

.chat-proveedores .ellipse-7-C61RwL {
  background-color: var(--mist-gray);
  border-radius: 23px;
  height: 46px;
  left: 409px;
  mix-blend-mode: normal;
  position: absolute;
  top: 664px;
  width: 46px;
}

.chat-proveedores .nav-emprendimiento-C61RwL {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 769px;
  width: 390px;
}

.chat-proveedores .rectangle-1463-VNtfJe {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.chat-proveedores .union-VNtfJe {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 226px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 37px;
}

.chat-proveedores .union-t9QcV5 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 35px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.chat-proveedores .union-pIWv0k {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.chat-proveedores .union-rK7kDd {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}

.chat-proveedores .rectangle-355-C61RwL {
  background-color: var(--cielo-claro);
  border-radius: 10px;
  box-shadow: 0px 0px 8px #0000001a;
  cursor: pointer;
  height: 79px;
  left: 29px;
  mix-blend-mode: normal;
  position: absolute;
  top: 135px;
  width: 335px;
}

.chat-proveedores .rectangle-356-C61RwL {
  background-color: var(--cielo-claro);
  border-radius: 10px;
  box-shadow: 0px 0px 8px #0000001a;
  height: 79px;
  left: 29px;
  mix-blend-mode: normal;
  position: absolute;
  top: 234px;
  width: 335px;
}

.chat-proveedores .rectangle-357-C61RwL {
  background-color: var(--cielo-claro);
  border-radius: 10px;
  box-shadow: 0px 0px 8px #0000001a;
  height: 79px;
  left: 29px;
  mix-blend-mode: normal;
  position: absolute;
  top: 333px;
  width: 335px;
}

.chat-proveedores .rectangle-358-C61RwL {
  background-color: var(--cielo-claro);
  border-radius: 10px;
  box-shadow: 0px 0px 8px #0000001a;
  height: 79px;
  left: 29px;
  mix-blend-mode: normal;
  position: absolute;
  top: 432px;
  width: 335px;
}

.chat-proveedores .ellipse-18-C61RwL {
  background-color: var(--mist-gray);
  border-radius: 25px;
  height: 50px;
  left: 45px;
  mix-blend-mode: normal;
  position: absolute;
  top: 249px;
  width: 50px;
}

.chat-proveedores .ellipse-19-C61RwL {
  background-color: var(--mist-gray);
  border-radius: 25px;
  height: 50px;
  left: 45px;
  mix-blend-mode: normal;
  position: absolute;
  top: 348px;
  width: 50px;
}

.chat-proveedores .ellipse-20-C61RwL {
  background-color: var(--mist-gray);
  border-radius: 25px;
  height: 50px;
  left: 45px;
  mix-blend-mode: normal;
  position: absolute;
  top: 447px;
  width: 50px;
}

.chat-proveedores .x1023-am-C61RwL {
  background-color: transparent;
  height: auto;
  left: 308px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 143px;
  width: auto;
}

.chat-proveedores .x1050-pm-C61RwL {
  background-color: transparent;
  height: auto;
  left: 308px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 242px;
  width: auto;
}

.chat-proveedores .x203-pm-C61RwL {
  background-color: transparent;
  height: auto;
  left: 308px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 341px;
  width: auto;
}

.chat-proveedores .x1030-pm-C61RwL {
  background-color: transparent;
  height: auto;
  left: 309px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 440px;
  width: auto;
}

.chat-proveedores .recuerda-por-favor-los-sabores-tropical-C61RwL {
  background-color: transparent;
  height: auto;
  left: 106px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 278px;
  width: 202px;
}

.chat-proveedores .claro-que-s-cuntos-kg-le-mando-C61RwL {
  background-color: transparent;
  height: auto;
  left: 109px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 179px;
  width: 202px;
}

.chat-proveedores .si-ya-llegaron-los-primeros-para-cundo-C61RwL {
  background-color: transparent;
  height: auto;
  left: 108px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 476px;
  width: 202px;
}

.chat-proveedores .escribiendo-C61RwL {
  background-color: transparent;
  height: auto;
  left: 106px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 377px;
  width: 215px;
}

.chat-proveedores .frutas-y-verduras-C61RwL {
  background-color: transparent;
  height: auto;
  left: 106px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 159px;
  width: auto;
}

.chat-proveedores .helados-C61RwL {
  background-color: transparent;
  height: auto;
  left: 106px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 258px;
  width: auto;
}

.chat-proveedores .panadera-C61RwL {
  background-color: transparent;
  height: auto;
  left: 106px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 357px;
  width: auto;
}

.chat-proveedores .distribuidor-C61RwL {
  background-color: transparent;
  height: auto;
  left: 106px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 456px;
  width: auto;
}

.chat-proveedores .group-341-C61RwL {
  background-color: transparent;
  height: 11px;
  left: 326px;
  position: absolute;
  top: 484px;
  width: 21px;
}

.chat-proveedores .group-340-efqkcZ {
  background-color: transparent;
  height: 11px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 15px;
}

.chat-proveedores .line-21-axbUxj {
  background-color: transparent;
  height: 6px;
  left: -1px;
  position: absolute;
  top: 5px;
  width: 6px;
}

.chat-proveedores .line-22-axbUxj {
  background-color: transparent;
  height: 10px;
  left: 4px;
  position: absolute;
  top: -1px;
  width: 11px;
}

.chat-proveedores .line-21-efqkcZ {
  background-color: transparent;
  height: 4px;
  left: 7px;
  position: absolute;
  top: 7px;
  width: 4px;
}

.chat-proveedores .line-22-efqkcZ {
  background-color: transparent;
  height: 10px;
  left: 10px;
  position: absolute;
  top: -1px;
  width: 11px;
}

.chat-proveedores .group-342-C61RwL {
  background-color: transparent;
  height: 11px;
  left: 326px;
  position: absolute;
  top: 293px;
  width: 21px;
}

.chat-proveedores .group-340-nmOL5e {
  background-color: transparent;
  height: 11px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 15px;
}

.chat-proveedores .line-21-BUWWvl {
  background-color: transparent;
  height: 6px;
  left: -1px;
  position: absolute;
  top: 5px;
  width: 6px;
}

.chat-proveedores .line-22-BUWWvl {
  background-color: transparent;
  height: 10px;
  left: 4px;
  position: absolute;
  top: -1px;
  width: 11px;
}

.chat-proveedores .line-21-nmOL5e {
  background-color: transparent;
  height: 4px;
  left: 7px;
  position: absolute;
  top: 7px;
  width: 4px;
}

.chat-proveedores .line-22-nmOL5e {
  background-color: transparent;
  height: 10px;
  left: 10px;
  position: absolute;
  top: -1px;
  width: 11px;
}

.chat-proveedores .ellipse-88-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 318px;
  mix-blend-mode: normal;
  position: absolute;
  top: 168px;
  width: 19px;
}

.chat-proveedores .mask-group-C61RwL {
  background-color: transparent;
  height: 50px;
  left: 44px;
  position: absolute;
  top: 150px;
  width: 50px;
}

.chat-proveedores .ellipse-35-C61RwL {
  background-color: var(--text);
  border-radius: 5px;
  height: 10px;
  left: 83px;
  mix-blend-mode: normal;
  position: absolute;
  top: 187px;
  width: 10px;
}

.chat-proveedores .mask-group-VMr6Om {
  background-color: transparent;
  height: 50px;
  left: 44px;
  position: absolute;
  top: 249px;
  width: 50px;
}

.chat-proveedores .mask-group-mzXdH9 {
  background-color: transparent;
  height: 50px;
  left: 44px;
  position: absolute;
  top: 348px;
  width: 50px;
}

.chat-proveedores .mask-group-QxM5SU {
  background-color: transparent;
  height: 50px;
  left: 44px;
  position: absolute;
  top: 447px;
  width: 50px;
}

.chat-proveedores .ellipse-36-C61RwL {
  background-color: var(--text);
  border-radius: 5px;
  height: 10px;
  left: 85px;
  mix-blend-mode: normal;
  position: absolute;
  top: 484px;
  width: 10px;
}

.chat-proveedores .clientes-proveedores-C61RwL {
  background-color: transparent;
  color: transparent;
  cursor: pointer;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 121px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 59px;
  width: auto;
}

.chat-proveedores .span0-OsveDH {
  font-style: normal;
}

.chat-proveedores .span1-OsveDH {
  font-style: normal;
}

.chat-proveedores .vector-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 16px;
  left: 21px;
  position: absolute;
  top: 61px;
  width: 9px;
}

.chat-proveedores .status-bar-i-phone-13-13-pro-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 2px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.chat-proveedores .indicators-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.chat-proveedores .elements-signal-DFyBAk {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.chat-proveedores .cellular-connection-J8m9bL {
  background-color: transparent;
  height: 12px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.chat-proveedores .elements-connection-DFyBAk {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.chat-proveedores .wifi-rfGD5B {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.chat-proveedores .elements-battery-DFyBAk {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.chat-proveedores .border-4jFiZR {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.chat-proveedores .cap-4jFiZR {
  background-color: transparent;
  height: 4px;
  left: 26px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.chat-proveedores .capacity-4jFiZR {
  background-color: var(--black);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.chat-proveedores .mic-cam-ioFxYm {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.chat-proveedores .elements-time-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.chat-proveedores .time-ZiAW4B {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
