/* screen - crear-proyecto-emprendedor2 */

.crear-proyecto-emprendedor2 {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.crear-proyecto-emprendedor2 .image-25-C61RwL {
  background-color: transparent;
  height: 75px;
  left: -0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 98px;
  width: 390px;
}

.crear-proyecto-emprendedor2 .rectangle-1376-C61RwL {
  background-color: transparent;
  height: 75px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 98px;
  width: 390px;
}

.crear-proyecto-emprendedor2 .status-bar-i-phone-13-13-pro-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.crear-proyecto-emprendedor2 .indicators-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.crear-proyecto-emprendedor2 .elements-signal-DFyBAk {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.crear-proyecto-emprendedor2 .cellular-connection-J8m9bL {
  background-color: transparent;
  height: 12px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.crear-proyecto-emprendedor2 .elements-connection-DFyBAk {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.crear-proyecto-emprendedor2 .wifi-rfGD5B {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.crear-proyecto-emprendedor2 .elements-battery-DFyBAk {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.crear-proyecto-emprendedor2 .border-4jFiZR {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.crear-proyecto-emprendedor2 .cap-4jFiZR {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.crear-proyecto-emprendedor2 .capacity-4jFiZR {
  background-color: var(--black);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.crear-proyecto-emprendedor2 .mic-cam-ioFxYm {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.crear-proyecto-emprendedor2 .elements-time-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.crear-proyecto-emprendedor2 .time-ZiAW4B {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.crear-proyecto-emprendedor2 .proyectos-C61RwL {
  background-color: transparent;
  height: auto;
  left: 162px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 51px;
  width: auto;
}

.crear-proyecto-emprendedor2 .vector-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 14px;
  left: 19px;
  position: absolute;
  top: 45px;
  width: 9px;
}

.crear-proyecto-emprendedor2 .stand-en-va-para-emprendedores-C61RwL::-webkit-scrollbar {
  display: none;
  width: 0;
}

.crear-proyecto-emprendedor2 .stand-en-va-para-emprendedores-C61RwL {
  background-color: transparent;
  height: 519px;
  left: 20px;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 230px;
  width: 352px;
}

.crear-proyecto-emprendedor2 .espero-poder-pagar-e-f4eGCc {
  background-color: transparent;
  height: auto;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: 309px;
}

.crear-proyecto-emprendedor2 .juan-a-pepa34-rosa-l-f4eGCc {
  background-color: transparent;
  height: auto;
  left: 48px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 143px;
  width: auto;
}

.crear-proyecto-emprendedor2 .x100000-20000-3500-3000-1000-f4eGCc {
  background-color: transparent;
  color: #333333;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 258px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 143px;
  width: auto;
}

.crear-proyecto-emprendedor2 .x1-2-3-4-5-f4eGCc {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 143px;
  width: auto;
}

.crear-proyecto-emprendedor2 .top-donantes-f4eGCc {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 92px;
  width: 309px;
}

.crear-proyecto-emprendedor2 .as-va-tu-proyecto-f4eGCc {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 297px;
  width: 309px;
}

.crear-proyecto-emprendedor2 .recaudado-hasta-ahora-f4eGCc {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 408px;
  width: 309px;
}

.crear-proyecto-emprendedor2 .meta-f4eGCc {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 470px;
  width: 309px;
}

.crear-proyecto-emprendedor2 .fecha-de-finalizacin-del-proyecto-f4eGCc {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 532px;
  width: 309px;
}

.crear-proyecto-emprendedor2 .x50-completado-f4eGCc {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 340px;
  width: 118px;
}

.crear-proyecto-emprendedor2 .x127500-f4eGCc {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 439px;
  width: 118px;
}

.crear-proyecto-emprendedor2 .x255000-f4eGCc {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 501px;
  width: 118px;
}

.crear-proyecto-emprendedor2 .x22-05-2022-f4eGCc {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 563px;
  width: 118px;
}

.crear-proyecto-emprendedor2 .rectangle-1377-f4eGCc {
  background-color: var(--cuadros-relleno);
  border-radius: 4px;
  height: 16px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 372px;
  width: 309px;
}

.crear-proyecto-emprendedor2 .rectangle-1378-f4eGCc {
  background-color: var(--pink);
  border-radius: 4px;
  height: 16px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 372px;
  width: 158px;
}

.crear-proyecto-emprendedor2 .editar-fecha-f4eGCc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 594px;
  width: auto;
}

.crear-proyecto-emprendedor2 .stand-en-va-para-emprendedores-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 201px;
  width: 334px;
}

.crear-proyecto-emprendedor2 .nav-emprendimiento-C61RwL {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 769px;
  width: 390px;
}

.crear-proyecto-emprendedor2 .rectangle-1463-VNtfJe {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.crear-proyecto-emprendedor2 .union-VNtfJe {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 37px;
}

.crear-proyecto-emprendedor2 .union-t9QcV5 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 34px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.crear-proyecto-emprendedor2 .union-pIWv0k {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.crear-proyecto-emprendedor2 .union-rK7kDd {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}
