/* screen - crear-proyecto-emprendedor-6 */

.crear-proyecto-emprendedor-6 {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.crear-proyecto-emprendedor-6 .status-bar-i-phone-13-13-pro-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.crear-proyecto-emprendedor-6 .indicators-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.crear-proyecto-emprendedor-6 .elements-signal-DFyBAk {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.crear-proyecto-emprendedor-6 .icon-bar_chart-J8m9bL {
  background-color: transparent;
  height: 12px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.crear-proyecto-emprendedor-6 .elements-connection-DFyBAk {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.crear-proyecto-emprendedor-6 .icon-signal-rfGD5B {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.crear-proyecto-emprendedor-6 .elements-battery-DFyBAk {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.crear-proyecto-emprendedor-6 .border-4jFiZR {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.crear-proyecto-emprendedor-6 .cap-4jFiZR {
  background-color: transparent;
  height: 4px;
  left: 26px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.crear-proyecto-emprendedor-6 .capacity-4jFiZR {
  background-color: var(--black);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.crear-proyecto-emprendedor-6 .mic-cam-ioFxYm {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.crear-proyecto-emprendedor-6 .elements-time-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.crear-proyecto-emprendedor-6 .time-ZiAW4B {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.crear-proyecto-emprendedor-6 .proyectos-C61RwL {
  background-color: transparent;
  height: auto;
  left: 162px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 51px;
  width: auto;
}

.crear-proyecto-emprendedor-6 .crea-un-proyecto-nuevo-C61RwL {
  background-color: transparent;
  height: auto;
  left: 89px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 97px;
  width: auto;
}

.crear-proyecto-emprendedor-6 .no-tienes-proyectos-an-C61RwL {
  background-color: transparent;
  height: auto;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 246px;
  width: auto;
}

.crear-proyecto-emprendedor-6 .vector-C61RwL {
  background-color: transparent;
  height: 16px;
  left: 19px;
  position: absolute;
  top: 52px;
  width: 9px;
}

.crear-proyecto-emprendedor-6 .group-391-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 45px;
  left: 85px;
  position: absolute;
  top: 161px;
  width: 221px;
}

.crear-proyecto-emprendedor-6 .plus-YfP0pO {
  background-color: transparent;
  height: 45px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 45px;
}

.crear-proyecto-emprendedor-6 .rectangle-1338-OQlax9 {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 45px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 45px;
}

.crear-proyecto-emprendedor-6 .plus-OQlax9 {
  background-color: transparent;
  height: 13px;
  left: 16px;
  position: absolute;
  top: 15px;
  width: 13px;
}

.crear-proyecto-emprendedor-6 .iniciar-nuevo-proyecto-YfP0pO {
  background-color: transparent;
  height: 25px;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 10px;
  white-space: nowrap;
  width: 155px;
}

.crear-proyecto-emprendedor-6 .nav-emprendimiento-C61RwL {
  background-color: transparent;
  height: 94px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 753px;
  width: 390px;
}
