/* screen - home-cliente-overlay-2-1 */

.home-cliente-overlay-2-1 {
  background-color: transparent;
  height: 844px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.home-cliente-overlay-2-1 .home-cliente-overlay-2-C61RwL {
  background-color: transparent;
  height: 844px;
  left: calc(50vw - 195.0px);
  overflow: hidden;
  position: relative;
  top: calc(50vh - 422.0px);
  width: 390px;
}

.home-cliente-overlay-2-1 .group-38-Q4Fxsm {
  background-color: transparent;
  height: 677px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 376px;
}
