/* screen - home-cliente-overlay-1-1 */

.home-cliente-overlay-1-1 {
  background-color: transparent;
  cursor: pointer;
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.home-cliente-overlay-1-1 .home-cliente-overlay-1-C61RwL {
  background-color: var(--white);
  cursor: pointer;
  height: 844px;
  left: calc(50vw - 195.0px);
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
  top: calc(50vh - 422.0px);
  width: 390px;
}

.home-cliente-overlay-1-1 .rectangle-1337-Zdq9Bt {
  background-color: transparent;
  height: 844px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.home-cliente-overlay-1-1 .rectangle-16-Zdq9Bt {
  background-color: transparent;
  height: 36px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 36px;
}

.home-cliente-overlay-1-1 .status-bar-i-phone-13-13-pro-Zdq9Bt {
  background-color: var(--black);
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.home-cliente-overlay-1-1 .indicators-bhxGj1 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.home-cliente-overlay-1-1 .elements-signal-7O69AR {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.home-cliente-overlay-1-1 .cellular-connection-Twjo0h {
  background-color: transparent;
  height: 12px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 20px;
}

.home-cliente-overlay-1-1 .elements-connection-7O69AR {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.home-cliente-overlay-1-1 .wifi-OH2Fgx {
  background-color: transparent;
  height: 12px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 17px;
}

.home-cliente-overlay-1-1 .elements-battery-7O69AR {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.home-cliente-overlay-1-1 .border-mm5dYG {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.home-cliente-overlay-1-1 .cap-mm5dYG {
  background-color: transparent;
  height: 4px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1px;
}

.home-cliente-overlay-1-1 .capacity-mm5dYG {
  background-color: var(--white);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.home-cliente-overlay-1-1 .mic-cam-bhxGj1 {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.home-cliente-overlay-1-1 .elements-time-bhxGj1 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.home-cliente-overlay-1-1 .time-X1dbQz {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.home-cliente-overlay-1-1 .blink-custom-jewels-Zdq9Bt {
  background-color: transparent;
  height: auto;
  left: 62px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 69px;
  width: 163px;
}

.home-cliente-overlay-1-1 .x20-min-Zdq9Bt {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 62px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 86px;
  width: 39px;
}

.home-cliente-overlay-1-1 .barrita-historia-Zdq9Bt {
  background-color: transparent;
  height: 3px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 359px;
}

.home-cliente-overlay-1-1 .group-293-Zdq9Bt {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 15px;
  position: absolute;
  top: 780px;
  width: 361px;
}

.home-cliente-overlay-1-1 .rectangle-6-vqx2gm {
  background-color: transparent;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 359px;
}

.home-cliente-overlay-1-1 .ir-al-perfil-de-blink-jewels-vqx2gm {
  background-color: transparent;
  height: auto;
  left: 29px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 301px;
}

.home-cliente-overlay-1-1 .group-40-Zdq9Bt {
  background-color: transparent;
  cursor: pointer;
  height: 26px;
  left: 348px;
  position: absolute;
  top: 71px;
  width: 26px;
}

.home-cliente-overlay-1-1 .rectangle-71-4qxvvC {
  background-color: var(--cielo);
  border-radius: 4.94px;
  height: 26px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 26px;
}

.home-cliente-overlay-1-1 .vector-10-4qxvvC {
  background-color: transparent;
  height: 12px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 13px;
}

.home-cliente-overlay-1-1 .vector-11-4qxvvC {
  background-color: transparent;
  height: 12px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 13px;
}
