/* screen - home-cliente-selecciono-etiqueta-1 */

.home-cliente-selecciono-etiqueta-1 {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.home-cliente-selecciono-etiqueta-1 .group-74-C61RwL {
  background-color: transparent;
  height: 358px;
  left: 20px;
  position: absolute;
  top: 388px;
  width: 371px;
}

.home-cliente-selecciono-etiqueta-1 .mask-group-aCi14x {
  background-color: transparent;
  height: 48px;
  left: -0px;
  position: absolute;
  top: 1px;
  width: 48px;
}

.home-cliente-selecciono-etiqueta-1 .group-52-aCi14x {
  background-color: transparent;
  height: 25px;
  left: 63px;
  position: absolute;
  top: 0px;
  width: 130px;
}

.home-cliente-selecciono-etiqueta-1 .xoco-postres-oTxKyg {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 126px;
}

.home-cliente-selecciono-etiqueta-1 .xocopostres-oTxKyg {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: 73px;
}

.home-cliente-selecciono-etiqueta-1 .group-69-aCi14x {
  background-color: transparent;
  height: 13px;
  left: 264px;
  position: absolute;
  top: 3px;
  width: 87px;
}

.home-cliente-selecciono-etiqueta-1 .group-68-mxpEck {
  background-color: transparent;
  height: 13px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 87px;
}

.home-cliente-selecciono-etiqueta-1 .x178-iKU9Bl {
  background-color: transparent;
  height: 7px;
  left: 70px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 16px;
}

.home-cliente-selecciono-etiqueta-1 .star-1-iKU9Bl {
  background-color: transparent;
  height: 10px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 10px;
}

.home-cliente-selecciono-etiqueta-1 .star-2-iKU9Bl {
  background-color: transparent;
  height: 10px;
  left: 15px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 10px;
}

.home-cliente-selecciono-etiqueta-1 .star-3-iKU9Bl {
  background-color: transparent;
  height: 10px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 10px;
}

.home-cliente-selecciono-etiqueta-1 .star-4-iKU9Bl {
  background-color: transparent;
  height: 10px;
  left: 41px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 10px;
}

.home-cliente-selecciono-etiqueta-1 .star-5-iKU9Bl {
  background-color: transparent;
  height: 10px;
  left: 53px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 10px;
}

.home-cliente-selecciono-etiqueta-1 .vector-12-aCi14x {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 61px;
  width: 351px;
}

.home-cliente-selecciono-etiqueta-1 .x5-10-min-aCi14x {
  background-color: transparent;
  height: auto;
  left: 63px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 30px;
  width: 65px;
}

.home-cliente-selecciono-etiqueta-1 .x3500-5000-aCi14x {
  background-color: transparent;
  height: auto;
  left: 134px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 30px;
  width: 94px;
}

.home-cliente-selecciono-etiqueta-1 .vector-13-aCi14x {
  background-color: transparent;
  height: 11px;
  left: 128px;
  position: absolute;
  top: 30px;
  width: 1px;
}

.home-cliente-selecciono-etiqueta-1 .mask-group-WmBbKx {
  background-color: transparent;
  height: 48px;
  left: -0px;
  position: absolute;
  top: 74px;
  width: 48px;
}

.home-cliente-selecciono-etiqueta-1 .rectangle-74-aCi14x {
  background-color: transparent;
  height: 48px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 149px;
  width: 48px;
}

.home-cliente-selecciono-etiqueta-1 .mask-group-8WUhvI {
  background-color: transparent;
  height: 48px;
  left: -0px;
  position: absolute;
  top: 223px;
  width: 48px;
}

.home-cliente-selecciono-etiqueta-1 .mask-group-uGr96n {
  background-color: transparent;
  height: 48px;
  left: -0px;
  position: absolute;
  top: 297px;
  width: 48px;
}

.home-cliente-selecciono-etiqueta-1 .group-72-aCi14x {
  background-color: transparent;
  height: 25px;
  left: 63px;
  position: absolute;
  top: 148px;
  width: 130px;
}

.home-cliente-selecciono-etiqueta-1 .takis-icesi-kC53wh {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 126px;
}

.home-cliente-selecciono-etiqueta-1 .takisicesi-kC53wh {
  background-color: transparent;
  height: auto;
  left: -0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: 73px;
}

.home-cliente-selecciono-etiqueta-1 .group-70-aCi14x {
  background-color: transparent;
  height: 25px;
  left: 63px;
  position: absolute;
  top: 74px;
  width: 130px;
}

.home-cliente-selecciono-etiqueta-1 .leepops-mrWtcB {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 126px;
}

.home-cliente-selecciono-etiqueta-1 .leepops-m6nkUh {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: 73px;
}

.home-cliente-selecciono-etiqueta-1 .group-73-aCi14x {
  background-color: transparent;
  height: 13px;
  left: 264px;
  position: absolute;
  top: 151px;
  width: 87px;
}

.home-cliente-selecciono-etiqueta-1 .group-68-P7Rke1 {
  background-color: transparent;
  height: 13px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 87px;
}

.home-cliente-selecciono-etiqueta-1 .x178-8YOijp {
  background-color: transparent;
  height: 7px;
  left: 70px;
  mix-blend-mode: normal;
  position: absolute;
  top: 3px;
  width: 16px;
}

.home-cliente-selecciono-etiqueta-1 .star-1-8YOijp {
  background-color: transparent;
  height: 10px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 10px;
}

.home-cliente-selecciono-etiqueta-1 .star-2-8YOijp {
  background-color: transparent;
  height: 10px;
  left: 15px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 10px;
}

.home-cliente-selecciono-etiqueta-1 .star-3-8YOijp {
  background-color: transparent;
  height: 10px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 10px;
}

.home-cliente-selecciono-etiqueta-1 .star-4-8YOijp {
  background-color: transparent;
  height: 10px;
  left: 41px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 10px;
}

.home-cliente-selecciono-etiqueta-1 .star-5-8YOijp {
  background-color: transparent;
  height: 10px;
  left: 53px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 10px;
}

.home-cliente-selecciono-etiqueta-1 .group-79-aCi14x {
  background-color: transparent;
  height: 25px;
  left: 63px;
  position: absolute;
  top: 223px;
  width: 156px;
}

.home-cliente-selecciono-etiqueta-1 .sweet-cake-bakery-09Ws68 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 152px;
}

.home-cliente-selecciono-etiqueta-1 .sweetcakebakery-09Ws68 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: 90px;
}

.home-cliente-selecciono-etiqueta-1 .group-82-aCi14x {
  background-color: transparent;
  height: 25px;
  left: 63px;
  position: absolute;
  top: 297px;
  width: 155px;
}

.home-cliente-selecciono-etiqueta-1 .needle-bird-y3PFXS {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 151px;
}

.home-cliente-selecciono-etiqueta-1 .needlebird-y3PFXS {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: 73px;
}

.home-cliente-selecciono-etiqueta-1 .vector-16-aCi14x {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 209px;
  width: 351px;
}

.home-cliente-selecciono-etiqueta-1 .group-71-aCi14x {
  background-color: transparent;
  height: 13px;
  left: 264px;
  position: absolute;
  top: 77px;
  width: 87px;
}

.home-cliente-selecciono-etiqueta-1 .group-68-GqjIeI {
  background-color: transparent;
  height: 13px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 87px;
}

.home-cliente-selecciono-etiqueta-1 .x178-SKSPFx {
  background-color: transparent;
  height: 7px;
  left: 70px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 16px;
}

.home-cliente-selecciono-etiqueta-1 .star-1-SKSPFx {
  background-color: transparent;
  height: 10px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 10px;
}

.home-cliente-selecciono-etiqueta-1 .star-2-SKSPFx {
  background-color: transparent;
  height: 10px;
  left: 15px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 10px;
}

.home-cliente-selecciono-etiqueta-1 .star-3-SKSPFx {
  background-color: transparent;
  height: 10px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 10px;
}

.home-cliente-selecciono-etiqueta-1 .star-4-SKSPFx {
  background-color: transparent;
  height: 10px;
  left: 41px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 10px;
}

.home-cliente-selecciono-etiqueta-1 .star-5-SKSPFx {
  background-color: transparent;
  height: 10px;
  left: 53px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 10px;
}

.home-cliente-selecciono-etiqueta-1 .x5-10-min-WmBbKx {
  background-color: transparent;
  height: auto;
  left: 63px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 178px;
  width: 65px;
}

.home-cliente-selecciono-etiqueta-1 .group-80-aCi14x {
  background-color: transparent;
  height: 13px;
  left: 264px;
  position: absolute;
  top: 225px;
  width: 87px;
}

.home-cliente-selecciono-etiqueta-1 .group-68-jlxmav {
  background-color: transparent;
  height: 13px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 87px;
}

.home-cliente-selecciono-etiqueta-1 .x178-Xpq1kG {
  background-color: transparent;
  height: 7px;
  left: 70px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 16px;
}

.home-cliente-selecciono-etiqueta-1 .star-1-Xpq1kG {
  background-color: transparent;
  height: 10px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 10px;
}

.home-cliente-selecciono-etiqueta-1 .star-2-Xpq1kG {
  background-color: transparent;
  height: 10px;
  left: 15px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 10px;
}

.home-cliente-selecciono-etiqueta-1 .star-3-Xpq1kG {
  background-color: transparent;
  height: 10px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 10px;
}

.home-cliente-selecciono-etiqueta-1 .star-4-Xpq1kG {
  background-color: transparent;
  height: 10px;
  left: 41px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 10px;
}

.home-cliente-selecciono-etiqueta-1 .star-5-Xpq1kG {
  background-color: transparent;
  height: 10px;
  left: 53px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 10px;
}

.home-cliente-selecciono-etiqueta-1 .group-83-aCi14x {
  background-color: transparent;
  height: 13px;
  left: 264px;
  position: absolute;
  top: 299px;
  width: 87px;
}

.home-cliente-selecciono-etiqueta-1 .group-68-Vic95j {
  background-color: transparent;
  height: 13px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 87px;
}

.home-cliente-selecciono-etiqueta-1 .x178-yfVJTH {
  background-color: transparent;
  height: 7px;
  left: 70px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 16px;
}

.home-cliente-selecciono-etiqueta-1 .star-1-yfVJTH {
  background-color: transparent;
  height: 10px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 10px;
}

.home-cliente-selecciono-etiqueta-1 .star-2-yfVJTH {
  background-color: transparent;
  height: 10px;
  left: 15px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 10px;
}

.home-cliente-selecciono-etiqueta-1 .star-3-yfVJTH {
  background-color: transparent;
  height: 10px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 10px;
}

.home-cliente-selecciono-etiqueta-1 .star-4-yfVJTH {
  background-color: transparent;
  height: 10px;
  left: 41px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 10px;
}

.home-cliente-selecciono-etiqueta-1 .star-5-yfVJTH {
  background-color: transparent;
  height: 10px;
  left: 53px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 10px;
}

.home-cliente-selecciono-etiqueta-1 .x3500-5000-WmBbKx {
  background-color: transparent;
  height: auto;
  left: 134px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 178px;
  width: 94px;
}

.home-cliente-selecciono-etiqueta-1 .vector-14-aCi14x {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 135px;
  width: 351px;
}

.home-cliente-selecciono-etiqueta-1 .vector-17-aCi14x {
  background-color: transparent;
  height: 11px;
  left: 128px;
  position: absolute;
  top: 178px;
  width: 1px;
}

.home-cliente-selecciono-etiqueta-1 .vector-18-aCi14x {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 283px;
  width: 351px;
}

.home-cliente-selecciono-etiqueta-1 .vector-20-aCi14x {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 357px;
  width: 351px;
}

.home-cliente-selecciono-etiqueta-1 .x5-10-min-8WUhvI {
  background-color: transparent;
  height: auto;
  left: 63px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 104px;
  width: 65px;
}

.home-cliente-selecciono-etiqueta-1 .x5-10-min-uGr96n {
  background-color: transparent;
  height: auto;
  left: 63px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 253px;
  width: 65px;
}

.home-cliente-selecciono-etiqueta-1 .x5-10-min-o6Xn42 {
  background-color: transparent;
  height: auto;
  left: 63px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 327px;
  width: 65px;
}

.home-cliente-selecciono-etiqueta-1 .x3500-5000-8WUhvI {
  background-color: transparent;
  height: auto;
  left: 134px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 104px;
  width: 94px;
}

.home-cliente-selecciono-etiqueta-1 .x3500-5000-uGr96n {
  background-color: transparent;
  height: auto;
  left: 134px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 253px;
  width: 94px;
}

.home-cliente-selecciono-etiqueta-1 .x3500-5000-o6Xn42 {
  background-color: transparent;
  height: auto;
  left: 134px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 327px;
  width: 94px;
}

.home-cliente-selecciono-etiqueta-1 .vector-15-aCi14x {
  background-color: transparent;
  height: 11px;
  left: 128px;
  position: absolute;
  top: 104px;
  width: 1px;
}

.home-cliente-selecciono-etiqueta-1 .vector-19-aCi14x {
  background-color: transparent;
  height: 11px;
  left: 128px;
  position: absolute;
  top: 252px;
  width: 1px;
}

.home-cliente-selecciono-etiqueta-1 .vector-21-aCi14x {
  background-color: transparent;
  height: 11px;
  left: 128px;
  position: absolute;
  top: 326px;
  width: 1px;
}

.home-cliente-selecciono-etiqueta-1 .rectangle-77-C61RwL {
  background-color: transparent;
  border-radius: 40px;
  height: 48px;
  left: 20px;
  position: absolute;
  top: 757px;
  width: 48px;
}

.home-cliente-selecciono-etiqueta-1 .group-85-C61RwL {
  background-color: transparent;
  height: 38px;
  left: 18px;
  position: absolute;
  top: 76px;
  width: 354px;
}

.home-cliente-selecciono-etiqueta-1 .group-89-rFX9Nh {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 356px;
}

.home-cliente-selecciono-etiqueta-1 .rectangle-30-4Grtew {
  background-color: var(--cuadros-relleno);
  border-radius: 7.5px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 354px;
}

.home-cliente-selecciono-etiqueta-1 .icon-search-4Grtew {
  background-color: transparent;
  height: 18px;
  left: 12px;
  mix-blend-mode: normal;
  position: absolute;
  top: 8px;
  width: 18px;
}

.home-cliente-selecciono-etiqueta-1 .qu-quieres-pedir-hoy-4Grtew {
  background-color: transparent;
  height: auto;
  left: 41px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: 261px;
}

.home-cliente-selecciono-etiqueta-1 .prueba-algo-nuevo-C61RwL {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 356px;
  width: 192px;
}

.home-cliente-selecciono-etiqueta-1 .bestie-C61RwL {
  background-color: transparent;
  height: 18px;
  left: 19px;
  mix-blend-mode: normal;
  position: absolute;
  top: 50px;
  width: 50px;
}

.home-cliente-selecciono-etiqueta-1 .group-293-C61RwL {
  background-color: transparent;
  height: 38px;
  left: 18px;
  position: absolute;
  top: 129px;
  width: 140px;
}

.home-cliente-selecciono-etiqueta-1 .rectangle-6-xlHGDl {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 138px;
}

.home-cliente-selecciono-etiqueta-1 .postres-xlHGDl {
  background-color: transparent;
  height: auto;
  left: 43px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 53px;
}

.home-cliente-selecciono-etiqueta-1 .group-300-C61RwL {
  background-color: transparent;
  height: 14px;
  left: 147px;
  position: absolute;
  top: 125px;
  transform: rotate(-45.00deg);
  width: 14px;
}

.home-cliente-selecciono-etiqueta-1 .rectangle-18-E9Dkin {
  background-color: var(--azul);
  border-radius: 40px;
  height: 14px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 14px;
}

.home-cliente-selecciono-etiqueta-1 .group-299-E9Dkin {
  background-color: transparent;
  height: 10px;
  left: 2px;
  position: absolute;
  top: 1px;
  transform: rotate(45deg);
  width: 10px;
}

.home-cliente-selecciono-etiqueta-1 .ya-sabemos-qu-te-gusta-C61RwL {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 199px;
  width: 229px;
}

.home-cliente-selecciono-etiqueta-1 .group-79-C61RwL {
  background-color: transparent;
  height: 99px;
  left: 19px;
  position: absolute;
  top: 228px;
  width: 187px;
}

.home-cliente-selecciono-etiqueta-1 .mask-group-sbe5OJ {
  background-color: transparent;
  height: 60px;
  left: -0px;
  position: absolute;
  top: -1px;
  width: 187px;
}

.home-cliente-selecciono-etiqueta-1 .rectangle-76-sbe5OJ {
  background-color: transparent;
  height: 40px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 59px;
  width: 187px;
}

.home-cliente-selecciono-etiqueta-1 .group-75-sbe5OJ {
  background-color: transparent;
  height: 26px;
  left: 11px;
  position: absolute;
  top: 65px;
  width: 137px;
}

.home-cliente-selecciono-etiqueta-1 .postres-milus-HKIStE {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 14.4px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 133px;
}

.home-cliente-selecciono-etiqueta-1 .postresmilus-HKIStE {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 8.7px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: 77px;
}

.home-cliente-selecciono-etiqueta-1 .group-80-C61RwL {
  background-color: transparent;
  height: 99px;
  left: 216px;
  position: absolute;
  top: 228px;
  width: 187px;
}

.home-cliente-selecciono-etiqueta-1 .mask-group-CX7m3G {
  background-color: transparent;
  height: 60px;
  left: 6px;
  position: absolute;
  top: -1px;
  width: 174px;
}

.home-cliente-selecciono-etiqueta-1 .rectangle-76-CX7m3G {
  background-color: transparent;
  height: 40px;
  left: 6px;
  mix-blend-mode: normal;
  position: absolute;
  top: 59px;
  width: 174px;
}

.home-cliente-selecciono-etiqueta-1 .group-75-CX7m3G {
  background-color: transparent;
  height: 26px;
  left: 11px;
  position: absolute;
  top: 65px;
  width: 137px;
}

.home-cliente-selecciono-etiqueta-1 .leepops-8qG3EA {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 14.4px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 133px;
}

.home-cliente-selecciono-etiqueta-1 .leepops-WRAOG8 {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 8.7px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: 77px;
}

.home-cliente-selecciono-etiqueta-1 .rectangle-1353-C61RwL {
  background-color: #f7c95a;
  height: 2px;
  left: 37px;
  mix-blend-mode: normal;
  position: absolute;
  top: 719px;
  width: 15px;
}

.home-cliente-selecciono-etiqueta-1 .status-bar-i-phone-13-13-pro-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.home-cliente-selecciono-etiqueta-1 .indicators-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.home-cliente-selecciono-etiqueta-1 .elements-signal-DFyBAk {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.home-cliente-selecciono-etiqueta-1 .icon-bar_chart-J8m9bL {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.home-cliente-selecciono-etiqueta-1 .elements-connection-DFyBAk {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.home-cliente-selecciono-etiqueta-1 .icon-signal-rfGD5B {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.home-cliente-selecciono-etiqueta-1 .elements-battery-DFyBAk {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.home-cliente-selecciono-etiqueta-1 .border-4jFiZR {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.home-cliente-selecciono-etiqueta-1 .cap-4jFiZR {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.home-cliente-selecciono-etiqueta-1 .capacity-4jFiZR {
  background-color: var(--black);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.home-cliente-selecciono-etiqueta-1 .mic-cam-ioFxYm {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.home-cliente-selecciono-etiqueta-1 .mic-cam-indicator-nPE7Cn {
  background-color: transparent;
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 6px;
}

.home-cliente-selecciono-etiqueta-1 .elements-time-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.home-cliente-selecciono-etiqueta-1 .time-ZiAW4B {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.home-cliente-selecciono-etiqueta-1 .nav-cliente-C61RwL {
  background-color: transparent;
  height: 94px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 753px;
  width: 390px;
}
