/* screen - metodo-de-pago-stickers-1 */

.metodo-de-pago-stickers-1 {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.metodo-de-pago-stickers-1 .rectangle-1321-C61RwL {
  background-color: var(--cielo);
  border-radius: 20px;
  height: 446px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 161px;
  width: 336px;
}

.metodo-de-pago-stickers-1 .tu-carrito-C61RwL {
  background-color: transparent;
  height: auto;
  left: 153px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 102px;
  width: auto;
}

.metodo-de-pago-stickers-1 .group-242-C61RwL {
  background-color: transparent;
  height: 38px;
  left: 58px;
  position: absolute;
  top: 527px;
  width: 276px;
}

.metodo-de-pago-stickers-1 .rectangle-1308-VDz23I {
  background-color: var(--white);
  border-radius: 8px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 274px;
}

.metodo-de-pago-stickers-1 .paypal-VDz23I {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 10px;
  width: 222px;
}

.metodo-de-pago-stickers-1 .group-241-C61RwL {
  background-color: transparent;
  height: 153px;
  left: 137px;
  position: absolute;
  top: 202px;
  width: 125px;
}

.metodo-de-pago-stickers-1 .group-240-C61RwL {
  background-color: transparent;
  height: 162px;
  left: 119px;
  position: absolute;
  top: 196px;
  width: 132px;
}

.metodo-de-pago-stickers-1 .ests-donando-C61RwL {
  background-color: transparent;
  height: auto;
  left: 58px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 382px;
  width: 274px;
}

.metodo-de-pago-stickers-1 .selecciona-tu-mtodo-de-pago-C61RwL {
  background-color: transparent;
  height: auto;
  left: 58px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 487px;
  width: 274px;
}

.metodo-de-pago-stickers-1 .x22000-C61RwL {
  background-color: transparent;
  height: auto;
  left: 58px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 421px;
  width: 274px;
}

.metodo-de-pago-stickers-1 .image-5-C61RwL {
  background-color: transparent;
  height: 31px;
  left: 69px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 530px;
  width: 19px;
}

.metodo-de-pago-stickers-1 .group-230-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 127px;
  position: absolute;
  top: 640px;
  width: 140px;
}

.metodo-de-pago-stickers-1 .rectangle-6-PdN6Mn {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 138px;
}

.metodo-de-pago-stickers-1 .comprar-PdN6Mn {
  background-color: transparent;
  height: auto;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 67px;
}

.metodo-de-pago-stickers-1 .vector-C61RwL {
  background-color: transparent;
  height: 10px;
  left: 298px;
  position: absolute;
  top: 542px;
  width: 20px;
}

.metodo-de-pago-stickers-1 .nav-cliente-C61RwL {
  background-color: transparent;
  height: 94px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 754px;
  width: 390px;
}

.metodo-de-pago-stickers-1 .status-bar-i-phone-13-13-pro-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.metodo-de-pago-stickers-1 .indicators-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.metodo-de-pago-stickers-1 .elements-signal-DFyBAk {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.metodo-de-pago-stickers-1 .icon-bar_chart-J8m9bL {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.metodo-de-pago-stickers-1 .elements-connection-DFyBAk {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.metodo-de-pago-stickers-1 .icon-signal-rfGD5B {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.metodo-de-pago-stickers-1 .elements-battery-DFyBAk {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.metodo-de-pago-stickers-1 .border-4jFiZR {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.metodo-de-pago-stickers-1 .cap-4jFiZR {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.metodo-de-pago-stickers-1 .capacity-4jFiZR {
  background-color: var(--black);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.metodo-de-pago-stickers-1 .mic-cam-ioFxYm {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.metodo-de-pago-stickers-1 .elements-time-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.metodo-de-pago-stickers-1 .time-ZiAW4B {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.metodo-de-pago-stickers-1 .vector-VMr6Om {
  background-color: transparent;
  height: 20px;
  left: 18px;
  position: absolute;
  top: 50px;
  width: 12px;
}

.metodo-de-pago-stickers-1 .enviar-un-regalo-C61RwL {
  background-color: transparent;
  height: auto;
  left: 142px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 51px;
  width: auto;
}

.metodo-de-pago-stickers-1 .image00002-C61RwL {
  background-color: transparent;
  height: 82px;
  left: 174px;
  mix-blend-mode: normal;
  position: absolute;
  top: 218px;
  width: 64px;
}

.metodo-de-pago-stickers-1 .image00001-2-C61RwL {
  background-color: transparent;
  height: 104px;
  left: 133px;
  mix-blend-mode: normal;
  position: absolute;
  top: 196px;
  width: 89px;
}
