/* screen - nuevo-ahorro */

.nuevo-ahorro {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.nuevo-ahorro .status-bar-i-phone-13-13-pro-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.nuevo-ahorro .indicators-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.nuevo-ahorro .elements-signal-DFyBAk {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.nuevo-ahorro .cellular-connection-J8m9bL {
  background-color: transparent;
  height: 12px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.nuevo-ahorro .elements-connection-DFyBAk {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.nuevo-ahorro .wifi-rfGD5B {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.nuevo-ahorro .elements-battery-DFyBAk {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.nuevo-ahorro .border-4jFiZR {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.nuevo-ahorro .cap-4jFiZR {
  background-color: transparent;
  height: 4px;
  left: 26px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.nuevo-ahorro .capacity-4jFiZR {
  background-color: var(--black);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.nuevo-ahorro .mic-cam-ioFxYm {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.nuevo-ahorro .elements-time-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.nuevo-ahorro .time-ZiAW4B {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.nuevo-ahorro .rectangle-1337-C61RwL {
  background-color: var(--cielo-claro);
  cursor: pointer;
  height: 237px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
  top: 106px;
  width: 390px;
}

.nuevo-ahorro .camera-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 183px;
  position: absolute;
  top: 200px;
  width: 24px;
}

.nuevo-ahorro .rectangle-354-ej2VFb {
  background-color: transparent;
  height: 20px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 22px;
}

.nuevo-ahorro .ellipse-57-ej2VFb {
  background-color: transparent;
  border-radius: 5.06px;
  height: 10px;
  left: 7px;
  position: absolute;
  top: 8px;
  width: 10px;
}

.nuevo-ahorro .aadir-nueva-imagen-C61RwL {
  background-color: transparent;
  height: auto;
  left: 67px;
  letter-spacing: 0.00px;
  line-height: 19.6px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 233px;
  white-space: nowrap;
  width: 257px;
}

.nuevo-ahorro .nombre-del-plan-C61RwL {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 364px;
  width: 285px;
}

.nuevo-ahorro .ej-para-mi-nueva-nevera-C61RwL {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.2;
  position: absolute;
  text-align: left;
  top: 387px;
  width: 285px;
}

.nuevo-ahorro .line-2-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 18px;
  position: absolute;
  top: 408px;
  width: 354px;
}

.nuevo-ahorro .cantidad-a-ahorrar-C61RwL {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 427px;
  width: 285px;
}

.nuevo-ahorro .ej-1340000-C61RwL {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.2;
  position: absolute;
  text-align: left;
  top: 450px;
  width: 285px;
}

.nuevo-ahorro .line-3-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 18px;
  position: absolute;
  top: 471px;
  width: 354px;
}

.nuevo-ahorro .tiempo-lmite-estimado-C61RwL {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 488px;
  width: 285px;
}

.nuevo-ahorro .ej-12072021-C61RwL {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.2;
  position: absolute;
  text-align: left;
  top: 511px;
  width: 285px;
}

.nuevo-ahorro .line-4-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 18px;
  position: absolute;
  top: 532px;
  width: 354px;
}

.nuevo-ahorro .group-293-C61RwL {
  background-color: transparent;
  height: 38px;
  left: 18px;
  position: absolute;
  top: 714px;
  width: 354px;
}

.nuevo-ahorro .rectangle-6-xlHGDl {
  background-color: transparent;
  height: 38px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 354px;
}

.nuevo-ahorro .group-313-xlHGDl {
  background-color: transparent;
  height: 14px;
  left: 77px;
  position: absolute;
  top: 10px;
  width: 201px;
}

.nuevo-ahorro .crear-nuevo-plan-de-ahorro-iQ7yEj {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 185px;
}

.nuevo-ahorro .union-iQ7yEj {
  background-color: transparent;
  height: 10px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 10px;
}

.nuevo-ahorro .we-are-caotic-nuevo-ahorro-C61RwL {
  background-color: transparent;
  height: auto;
  left: 95px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 59px;
  width: auto;
}

.nuevo-ahorro .span0-MAmfnt {
}

.nuevo-ahorro .span1-MAmfnt {
}

.nuevo-ahorro .nav-emprendimiento-C61RwL {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 769px;
  width: 390px;
}

.nuevo-ahorro .rectangle-1463-VNtfJe {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.nuevo-ahorro .union-VNtfJe {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 226px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 37px;
}

.nuevo-ahorro .union-t9QcV5 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 35px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.nuevo-ahorro .union-pIWv0k {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.nuevo-ahorro .union-rK7kDd {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}

.nuevo-ahorro .vector-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 16px;
  left: 19px;
  position: absolute;
  top: 62px;
  width: 9px;
}
