/* screen - pagos-pendientes-bolsillo7 */

.pagos-pendientes-bolsillo7 {
  background-color: transparent;
  height: 844px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

#overlay-pagos-pendientes-bolsillo7 {
  background-color: transparent;
}

.overlay .pagos-pendientes-bolsillo7 {
  background-color: #00000000;
}

.pagos-pendientes-bolsillo7 .pagos-pendientes-bolsillo-C61RwL {
  background-color: transparent;
  height: 844px;
  left: calc(50vw - 195.0px);
  overflow: hidden;
  position: relative;
  top: calc(50vh - 422.0px);
  width: 390px;
}

.pagos-pendientes-bolsillo7 .image-22-VPU2Wq {
  background-color: transparent;
  height: 99px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 99px;
}

.pagos-pendientes-bolsillo7 .group-232-VPU2Wq {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 66px;
  position: absolute;
  top: 712px;
  width: 259px;
}

.pagos-pendientes-bolsillo7 .rectangle-6-RNZzwE {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 259px;
}

.pagos-pendientes-bolsillo7 .enviar-RNZzwE {
  background-color: transparent;
  height: 38px;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 224px;
}

.pagos-pendientes-bolsillo7 .check-VPU2Wq {
  background-color: transparent;
  height: 18px;
  left: 149px;
  position: absolute;
  top: 200px;
  width: 18px;
}

.pagos-pendientes-bolsillo7 .ellipse-103-xGOAVP {
  background-color: var(--cielo-osc);
  border-radius: 9px;
  height: 18px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 18px;
}

.pagos-pendientes-bolsillo7 .check-xGOAVP {
  background-color: transparent;
  height: 8px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 11px;
}

.pagos-pendientes-bolsillo7 .image-25-VPU2Wq {
  background-color: transparent;
  cursor: pointer;
  height: 99px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 99px;
}
