/* screen - perfil-emprendedor3 */

.perfil-emprendedor3 {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.perfil-emprendedor3 .nav-emprendimiento-C61RwL {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 769px;
  width: 390px;
}

.perfil-emprendedor3 .rectangle-1463-VNtfJe {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.perfil-emprendedor3 .union-VNtfJe {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 37px;
}

.perfil-emprendedor3 .union-t9QcV5 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 34px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.perfil-emprendedor3 .union-pIWv0k {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.perfil-emprendedor3 .union-rK7kDd {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}

.perfil-emprendedor3 .rectangle-16-C61RwL {
  background-color: transparent;
  height: 67px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 97px;
  width: 67px;
}

.perfil-emprendedor3 .rectangle-18-C61RwL {
  background-color: var(--limon-osc);
  border-radius: 40px;
  height: 22px;
  left: 75px;
  mix-blend-mode: normal;
  position: absolute;
  top: 143px;
  width: 22px;
}

.perfil-emprendedor3 .blink-custom-jewels-C61RwL {
  background-color: transparent;
  height: auto;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 101px;
  width: auto;
}

.perfil-emprendedor3 .blinkcustomjewels-C61RwL {
  background-color: transparent;
  height: auto;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 123px;
  width: auto;
}

.perfil-emprendedor3 .rectangle-8-C61RwL {
  background-color: transparent;
  height: 72px;
  left: 10px;
  mix-blend-mode: normal;
  position: absolute;
  top: -1px;
  width: 390px;
}

.perfil-emprendedor3 .iconly-bold-location-C61RwL {
  background-color: transparent;
  height: 16px;
  left: 26px;
  mix-blend-mode: normal;
  position: absolute;
  top: 186px;
  width: 15px;
}

.perfil-emprendedor3 .location-JGC954 {
  background-color: transparent;
  height: 13px;
  left: 2px;
  position: relative;
  top: 1px;
  width: 11px;
}

.perfil-emprendedor3 .location-vNZFNp {
  background-color: transparent;
  height: 13px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 11px;
}

.perfil-emprendedor3 .siguiendo-C61RwL {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 261px;
  width: auto;
}

.perfil-emprendedor3 .x29-emprendimientos-C61RwL {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 282px;
  width: auto;
}

.perfil-emprendedor3 .span0-Gh1juD {
}

.perfil-emprendedor3 .span1-Gh1juD {
}

.perfil-emprendedor3 .x233-seguidores-C61RwL {
  background-color: transparent;
  height: auto;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 143px;
  width: auto;
}

.perfil-emprendedor3 .span0-fcF87p {
}

.perfil-emprendedor3 .span1-fcF87p {
}

.perfil-emprendedor3 .group-266-C61RwL {
  background-color: transparent;
  height: 38px;
  left: 329px;
  position: absolute;
  top: 312px;
  width: 42px;
}

.perfil-emprendedor3 .iconly-bold-setting-mVZ9e5 {
  background-color: transparent;
  height: 24px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 7px;
  width: 24px;
}

.perfil-emprendedor3 .setting-6sULaG {
  background-color: transparent;
  height: 20px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 19px;
}

.perfil-emprendedor3 .icon-settings-3bwRu0 {
  background-color: transparent;
  height: 20px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 19px;
}

.perfil-emprendedor3 .rectangle-1327-mVZ9e5 {
  background-color: transparent;
  border-radius: 7.5px;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 42px;
}

.perfil-emprendedor3 .icon-star-C61RwL {
  background-color: transparent;
  height: 11px;
  left: 80px;
  mix-blend-mode: normal;
  position: absolute;
  top: 148px;
  width: 11px;
}

.perfil-emprendedor3 .group-268-C61RwL {
  background-color: transparent;
  height: 11px;
  left: 111px;
  position: absolute;
  top: 88px;
  width: 95px;
}

.perfil-emprendedor3 .usuario-verificado-ESsBue {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.perfil-emprendedor3 .group-267-ESsBue {
  background-color: transparent;
  height: 9px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 9px;
}

.perfil-emprendedor3 .subtract-xAuVqf {
  background-color: transparent;
  height: 9px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 9px;
}

.perfil-emprendedor3 .emprendedor-C61RwL {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 366px;
  width: 390px;
}

.perfil-emprendedor3 .vector-7-wTsFtI {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: -1px;
  width: 390px;
}

.perfil-emprendedor3 .rectangle-1336-wTsFtI {
  background-color: var(--white);
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.perfil-emprendedor3 .vector-8-wTsFtI {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 390px;
}

.perfil-emprendedor3 .iconly-bold-category-wTsFtI {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 53px;
  position: absolute;
  top: 11px;
  width: 23px;
}

.perfil-emprendedor3 .category-T8tRAM {
  background-color: transparent;
  height: 20px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 19px;
}

.perfil-emprendedor3 .category-hiAFxI {
  background-color: transparent;
  height: 20px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 19px;
}

.perfil-emprendedor3 .vector-wTsFtI {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 141px;
  position: absolute;
  top: 13px;
  width: 21px;
}

.perfil-emprendedor3 .icon-wTsFtI {
  background-color: transparent;
  cursor: pointer;
  height: 23px;
  left: 232px;
  mix-blend-mode: normal;
  position: absolute;
  top: 11px;
  width: 18px;
}

.perfil-emprendedor3 .icon-xxhrfS {
  background-color: transparent;
  cursor: pointer;
  height: 21px;
  left: 317px;
  mix-blend-mode: normal;
  position: absolute;
  top: 13px;
  width: 24px;
}

.perfil-emprendedor3 .status-bar-i-phone-13-13-pro-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.perfil-emprendedor3 .indicators-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.perfil-emprendedor3 .elements-signal-DFyBAk {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.perfil-emprendedor3 .icon-bar_chart-J8m9bL {
  background-color: transparent;
  height: 12px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.perfil-emprendedor3 .elements-connection-DFyBAk {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.perfil-emprendedor3 .icon-signal-rfGD5B {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.perfil-emprendedor3 .elements-battery-DFyBAk {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.perfil-emprendedor3 .border-4jFiZR {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.perfil-emprendedor3 .cap-4jFiZR {
  background-color: transparent;
  height: 4px;
  left: 26px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.perfil-emprendedor3 .capacity-4jFiZR {
  background-color: var(--white);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.perfil-emprendedor3 .mic-cam-ioFxYm {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.perfil-emprendedor3 .elements-time-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.perfil-emprendedor3 .time-ZiAW4B {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.perfil-emprendedor3 .group-261-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 25px;
  position: absolute;
  top: 312px;
  width: 145px;
}

.perfil-emprendedor3 .rectangle-6-FD978N {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 145px;
}

.perfil-emprendedor3 .enviar-FD978N {
  background-color: transparent;
  height: 38px;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 125px;
}

.perfil-emprendedor3 .cali-colombia-somos-C61RwL {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  position: absolute;
  text-align: left;
  top: 185px;
  width: 328px;
}

.perfil-emprendedor3 .span0-URCrkl {
}

.perfil-emprendedor3 .span1-URCrkl {
}

.perfil-emprendedor3 .editar-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 177px;
  position: absolute;
  top: 312px;
  width: 145px;
}

.perfil-emprendedor3 .rectangle-1457-1JDuUp {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 145px;
}

.perfil-emprendedor3 .editar-catlogo-1JDuUp {
  background-color: transparent;
  height: 38px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 145px;
}

.perfil-emprendedor3 .frame-102-C61RwL::-webkit-scrollbar {
  display: none;
  width: 0;
}

.perfil-emprendedor3 .frame-102-C61RwL {
  background-color: transparent;
  height: 347px;
  left: 21px;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 422px;
  width: 357px;
}

.perfil-emprendedor3 .reviews-pxHEVo {
  background-color: transparent;
  height: auto;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 5px;
  width: auto;
}

.perfil-emprendedor3 .contenido-pxHEVo {
  background-color: transparent;
  height: 235px;
  left: 7px;
  position: absolute;
  top: 37px;
  width: 167px;
}

.perfil-emprendedor3 .group-244-WNiNmN {
  background-color: transparent;
  height: 235px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 167px;
}

.perfil-emprendedor3 .rectangle-54-unydd0 {
  background-color: transparent;
  height: 235px;
  left: -0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 167px;
}

.perfil-emprendedor3 .group-243-WNiNmN {
  background-color: transparent;
  height: 50px;
  left: 10px;
  position: absolute;
  top: 178px;
  width: 148px;
}

.perfil-emprendedor3 .view-CrDKYh {
  background-color: transparent;
  height: 12px;
  left: 1px;
  position: absolute;
  top: 37px;
  width: 12px;
}

.perfil-emprendedor3 .intersect-jfiUqx {
  background-color: transparent;
  height: 9px;
  left: -1px;
  position: absolute;
  top: 1px;
  width: 12px;
}

.perfil-emprendedor3 .ellipse-31-jfiUqx {
  background-color: transparent;
  border-radius: 2.52px/2.44px;
  height: 5px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 5px;
}

.perfil-emprendedor3 .x1029-CrDKYh {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 38px;
  width: 27px;
}

.perfil-emprendedor3 .dije-que-s-gracias-a-CrDKYh {
  background-color: transparent;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 144px;
}

.perfil-emprendedor3 .span0-wjQgAS {
}

.perfil-emprendedor3 .span1-wjQgAS {
}

.perfil-emprendedor3 .x913-WNiNmN {
  background-color: transparent;
  height: auto;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 215px;
  width: auto;
}

.perfil-emprendedor3 .heart-WNiNmN {
  background-color: transparent;
  height: 8px;
  left: 59px;
  mix-blend-mode: normal;
  position: absolute;
  top: 217px;
  width: 8px;
}

.perfil-emprendedor3 .group-270-pxHEVo {
  background-color: transparent;
  height: 235px;
  left: 183px;
  position: absolute;
  top: 37px;
  width: 167px;
}

.perfil-emprendedor3 .group-244-lhpBBh {
  background-color: transparent;
  height: 235px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 167px;
}

.perfil-emprendedor3 .rectangle-54-ahW9j8 {
  background-color: transparent;
  height: 235px;
  left: -0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 167px;
}

.perfil-emprendedor3 .group-243-lhpBBh {
  background-color: transparent;
  height: 50px;
  left: 10px;
  position: absolute;
  top: 178px;
  width: 148px;
}

.perfil-emprendedor3 .view-0Iqy7u {
  background-color: transparent;
  height: 12px;
  left: 1px;
  position: absolute;
  top: 37px;
  width: 12px;
}

.perfil-emprendedor3 .intersect-0YZsVx {
  background-color: transparent;
  height: 9px;
  left: -1px;
  position: absolute;
  top: 1px;
  width: 12px;
}

.perfil-emprendedor3 .ellipse-31-0YZsVx {
  background-color: transparent;
  border-radius: 2.52px/2.44px;
  height: 5px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 5px;
}

.perfil-emprendedor3 .x1029-0Iqy7u {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 38px;
  width: 27px;
}

.perfil-emprendedor3 .dije-que-s-gracias-a-0Iqy7u {
  background-color: transparent;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 144px;
}

.perfil-emprendedor3 .span0-WHpKSB {
}

.perfil-emprendedor3 .span1-WHpKSB {
}

.perfil-emprendedor3 .x913-lhpBBh {
  background-color: transparent;
  height: auto;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 215px;
  width: auto;
}

.perfil-emprendedor3 .heart-lhpBBh {
  background-color: transparent;
  height: 8px;
  left: 59px;
  mix-blend-mode: normal;
  position: absolute;
  top: 217px;
  width: 8px;
}

.perfil-emprendedor3 .group-273-lhpBBh {
  background-color: transparent;
  height: 15px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 76px;
}

.perfil-emprendedor3 .rectangle-1328-x9gOn4 {
  background-color: var(--cielo);
  border-radius: 12.65px;
  height: 15px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 74px;
}

.perfil-emprendedor3 .cliente-gold-x9gOn4 {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 9px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 2px;
  width: 74px;
}

.perfil-emprendedor3 .group-251-pxHEVo {
  background-color: transparent;
  height: 19px;
  left: 38px;
  position: absolute;
  top: 469px;
  transform: rotate(-17.37deg);
  width: 70px;
}

.perfil-emprendedor3 .rectangle-66-81Gx9u {
  background-color: var(--white);
  border-radius: 2.55px;
  height: 16px;
  left: -2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  transform: rotate(-1.28deg);
  width: 68px;
}

.perfil-emprendedor3 .lo-am-81Gx9u {
  background-color: transparent;
  color: var(--text);
  font-family: var(--font-family-inter);
  font-size: 7.6px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 3px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  transform: rotate(18.05deg);
  width: 63px;
}

.perfil-emprendedor3 .group-271-pxHEVo {
  background-color: transparent;
  height: 235px;
  left: 7px;
  position: absolute;
  top: 283px;
  width: 167px;
}

.perfil-emprendedor3 .group-244-UB8n5F {
  background-color: transparent;
  height: 235px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 167px;
}

.perfil-emprendedor3 .rectangle-54-zhWkvH {
  background-color: transparent;
  height: 64px;
  left: -0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 86px;
  width: 167px;
}

.perfil-emprendedor3 .group-243-UB8n5F {
  background-color: transparent;
  height: 50px;
  left: 10px;
  position: absolute;
  top: 178px;
  width: 148px;
}

.perfil-emprendedor3 .view-rG5I1c {
  background-color: transparent;
  height: 12px;
  left: 1px;
  position: absolute;
  top: 37px;
  width: 12px;
}

.perfil-emprendedor3 .intersect-yg5xnt {
  background-color: transparent;
  height: 1px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 1px;
}

.perfil-emprendedor3 .ellipse-31-yg5xnt {
  background-color: transparent;
  border-radius: 2.52px/2.44px;
  height: 5px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 5px;
}

.perfil-emprendedor3 .x1029-rG5I1c {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 38px;
  width: 27px;
}

.perfil-emprendedor3 .dije-que-s-gracias-a-rG5I1c {
  background-color: transparent;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 144px;
}

.perfil-emprendedor3 .span0-Y3xi4e {
}

.perfil-emprendedor3 .span1-Y3xi4e {
}

.perfil-emprendedor3 .x913-UB8n5F {
  background-color: transparent;
  height: auto;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 215px;
  width: auto;
}

.perfil-emprendedor3 .heart-UB8n5F {
  background-color: transparent;
  height: 1px;
  left: 64px;
  mix-blend-mode: normal;
  position: absolute;
  top: 221px;
  width: 1px;
}

.perfil-emprendedor3 .group-273-UB8n5F {
  background-color: transparent;
  height: 15px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 76px;
}

.perfil-emprendedor3 .rectangle-1328-IxnTex {
  background-color: var(--amarillo);
  border-radius: 12.65px;
  height: 15px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 74px;
}

.perfil-emprendedor3 .cliente-gold-IxnTex {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 9px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 2px;
  width: 74px;
}

.perfil-emprendedor3 .chat-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 27px;
  left: 344px;
  position: absolute;
  top: 99px;
  width: 27px;
}
