/* screen - perfil-emprendedor2 */

.perfil-emprendedor2 {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.perfil-emprendedor2 .vertical-C61RwL::-webkit-scrollbar {
  display: none;
  width: 0;
}

.perfil-emprendedor2 .vertical-C61RwL {
  background-color: transparent;
  height: 347px;
  left: 0px;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 422px;
  width: 390px;
}

.perfil-emprendedor2 .group-276-Xv9fDD {
  background-color: transparent;
  height: 167px;
  left: 26px;
  position: absolute;
  top: 476px;
  width: 200px;
}

.perfil-emprendedor2 .rectangle-1342-oadBzt {
  background-color: transparent;
  height: 1px;
  left: 83px;
  mix-blend-mode: normal;
  position: absolute;
  top: 83px;
  width: 1px;
}

.perfil-emprendedor2 .anillo-curvy-oadBzt {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 123px;
  width: 156px;
}

.perfil-emprendedor2 .group-271-oadBzt {
  background-color: transparent;
  height: 23px;
  left: 12px;
  position: absolute;
  top: 143px;
  width: 188px;
}

.perfil-emprendedor2 .x45000-Ye2uuN {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 186px;
}

.perfil-emprendedor2 .rectangle-1343-Xv9fDD {
  background-color: transparent;
  height: 49px;
  left: 207px;
  mix-blend-mode: normal;
  position: absolute;
  top: 358px;
  width: 168px;
}

.perfil-emprendedor2 .group-278-Xv9fDD {
  background-color: transparent;
  height: 26px;
  left: 26px;
  position: absolute;
  top: 58px;
  width: 128px;
}

.perfil-emprendedor2 .rectangle-1327-xJ8MTC {
  background-color: transparent;
  border-radius: 7.5px;
  height: 26px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 128px;
}

.perfil-emprendedor2 .catlogo-Xv9fDD {
  background-color: transparent;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: auto;
}

.perfil-emprendedor2 .httpsbitlink828-Xv9fDD {
  background-color: transparent;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 62px;
  width: auto;
}

.perfil-emprendedor2 .comparte-el-link-de-tu-catlogo-Xv9fDD {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 32px;
  width: auto;
}

.perfil-emprendedor2 .productos-Xv9fDD {
  background-color: transparent;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 270px;
  width: auto;
}

.perfil-emprendedor2 .aretes-wave-Xv9fDD {
  background-color: transparent;
  height: auto;
  left: 220px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 420px;
  width: 156px;
}

.perfil-emprendedor2 .group-275-Xv9fDD {
  background-color: transparent;
  height: 168px;
  left: 25px;
  position: absolute;
  top: 298px;
  width: 201px;
}

.perfil-emprendedor2 .rectangle-1342-5n1e3E {
  background-color: transparent;
  height: 49px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 60px;
  width: 168px;
}

.perfil-emprendedor2 .anillo-curvy-5n1e3E {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 124px;
  width: 156px;
}

.perfil-emprendedor2 .group-271-5n1e3E {
  background-color: transparent;
  height: 23px;
  left: 13px;
  position: absolute;
  top: 144px;
  width: 188px;
}

.perfil-emprendedor2 .x45000-nouN73 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 186px;
}

.perfil-emprendedor2 .group-273-Xv9fDD {
  background-color: transparent;
  height: 26px;
  left: 159px;
  position: absolute;
  top: 58px;
  width: 70px;
}

.perfil-emprendedor2 .rectangle-6-hYYUPd {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 26px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 70px;
}

.perfil-emprendedor2 .enviar-hYYUPd {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
  height: 26px;
  left: 5px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 61px;
}

.perfil-emprendedor2 .frame-104-Xv9fDD::-webkit-scrollbar {
  display: none;
  width: 0;
}

.perfil-emprendedor2 .frame-104-Xv9fDD {
  background-color: transparent;
  height: 185px;
  left: 0px;
  overflow: hidden;
  overflow-x: scroll;
  position: absolute;
  top: 86px;
  width: 390px;
}

.perfil-emprendedor2 .rectangle-1340-hNOU9Y {
  background-color: transparent;
  height: 126px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 41px;
  width: 212px;
}

.perfil-emprendedor2 .coleccin-anillo-hNOU9Y {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 119px;
  width: 156px;
}

.perfil-emprendedor2 .group-243-hNOU9Y {
  background-color: transparent;
  height: 23px;
  left: 40px;
  position: absolute;
  top: 140px;
  width: 194px;
}

.perfil-emprendedor2 .x15-productos-HyLzXk {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 192px;
}

.perfil-emprendedor2 .rectangle-1341-hNOU9Y {
  background-color: transparent;
  height: 126px;
  left: 286px;
  mix-blend-mode: normal;
  position: absolute;
  top: 41px;
  width: 140px;
}

.perfil-emprendedor2 .conjunto-bestie-hNOU9Y {
  background-color: transparent;
  height: auto;
  left: 263px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 118px;
  width: 156px;
}

.perfil-emprendedor2 .group-270-hNOU9Y {
  background-color: transparent;
  height: 12px;
  left: 263px;
  position: absolute;
  top: 139px;
  width: 65px;
}

.perfil-emprendedor2 .x15-productos-xKzCdG {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.perfil-emprendedor2 .rectangle-1464-hNOU9Y {
  background-color: var(--white);
  height: 125px;
  left: 462px;
  mix-blend-mode: normal;
  position: absolute;
  top: 42px;
  width: 26px;
}

.perfil-emprendedor2 .colecciones-Xv9fDD {
  background-color: transparent;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 99px;
  width: auto;
}

.perfil-emprendedor2 .group-272-Xv9fDD {
  background-color: transparent;
  height: 23px;
  left: 220px;
  position: absolute;
  top: 442px;
  width: 188px;
}

.perfil-emprendedor2 .x55000-q66S2S {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 186px;
}

.perfil-emprendedor2 .group-277-Xv9fDD {
  background-color: transparent;
  height: 168px;
  left: 207px;
  position: absolute;
  top: 476px;
  width: 201px;
}

.perfil-emprendedor2 .rectangle-1342-HKjwnm {
  background-color: transparent;
  height: 1px;
  left: 84px;
  mix-blend-mode: normal;
  position: absolute;
  top: 84px;
  width: 1px;
}

.perfil-emprendedor2 .anillo-curvy-HKjwnm {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 124px;
  width: 156px;
}

.perfil-emprendedor2 .group-271-HKjwnm {
  background-color: transparent;
  height: 23px;
  left: 13px;
  position: absolute;
  top: 144px;
  width: 188px;
}

.perfil-emprendedor2 .x45000-0mnTyg {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 186px;
}

.perfil-emprendedor2 .rectangle-16-C61RwL {
  background-color: transparent;
  height: 67px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 97px;
  width: 67px;
}

.perfil-emprendedor2 .rectangle-18-C61RwL {
  background-color: var(--limon-osc);
  border-radius: 40px;
  height: 22px;
  left: 75px;
  mix-blend-mode: normal;
  position: absolute;
  top: 143px;
  width: 22px;
}

.perfil-emprendedor2 .blink-custom-jewels-C61RwL {
  background-color: transparent;
  height: auto;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 101px;
  width: auto;
}

.perfil-emprendedor2 .blinkcustomjewels-C61RwL {
  background-color: transparent;
  height: auto;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 123px;
  width: auto;
}

.perfil-emprendedor2 .rectangle-8-C61RwL {
  background-color: transparent;
  height: 72px;
  left: 10px;
  mix-blend-mode: normal;
  position: absolute;
  top: -1px;
  width: 390px;
}

.perfil-emprendedor2 .iconly-bold-location-C61RwL {
  background-color: transparent;
  height: 16px;
  left: 26px;
  mix-blend-mode: normal;
  position: absolute;
  top: 186px;
  width: 15px;
}

.perfil-emprendedor2 .location-JGC954 {
  background-color: transparent;
  height: 13px;
  left: 2px;
  position: relative;
  top: 1px;
  width: 11px;
}

.perfil-emprendedor2 .location-vNZFNp {
  background-color: transparent;
  height: 13px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 11px;
}

.perfil-emprendedor2 .siguiendo-C61RwL {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 261px;
  width: auto;
}

.perfil-emprendedor2 .x29-emprendimientos-C61RwL {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 282px;
  width: auto;
}

.perfil-emprendedor2 .span0-Gh1juD {
}

.perfil-emprendedor2 .span1-Gh1juD {
}

.perfil-emprendedor2 .x233-seguidores-C61RwL {
  background-color: transparent;
  height: auto;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 143px;
  width: auto;
}

.perfil-emprendedor2 .span0-fcF87p {
}

.perfil-emprendedor2 .span1-fcF87p {
}

.perfil-emprendedor2 .group-266-C61RwL {
  background-color: transparent;
  height: 38px;
  left: 329px;
  position: absolute;
  top: 312px;
  width: 42px;
}

.perfil-emprendedor2 .iconly-bold-setting-mVZ9e5 {
  background-color: transparent;
  height: 24px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 7px;
  width: 24px;
}

.perfil-emprendedor2 .setting-6sULaG {
  background-color: transparent;
  height: 20px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 19px;
}

.perfil-emprendedor2 .icon-settings-3bwRu0 {
  background-color: transparent;
  height: 20px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 19px;
}

.perfil-emprendedor2 .rectangle-1327-mVZ9e5 {
  background-color: transparent;
  border-radius: 7.5px;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 42px;
}

.perfil-emprendedor2 .group-268-C61RwL {
  background-color: transparent;
  height: 11px;
  left: 111px;
  position: absolute;
  top: 88px;
  width: 95px;
}

.perfil-emprendedor2 .usuario-verificado-ESsBue {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.perfil-emprendedor2 .group-267-ESsBue {
  background-color: transparent;
  height: 9px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 9px;
}

.perfil-emprendedor2 .subtract-xAuVqf {
  background-color: transparent;
  height: 9px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 9px;
}

.perfil-emprendedor2 .icon-star-C61RwL {
  background-color: transparent;
  height: 11px;
  left: 80px;
  mix-blend-mode: normal;
  position: absolute;
  top: 148px;
  width: 11px;
}

.perfil-emprendedor2 .emprendedor-C61RwL {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 366px;
  width: 390px;
}

.perfil-emprendedor2 .vector-7-wTsFtI {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: -1px;
  width: 390px;
}

.perfil-emprendedor2 .rectangle-1336-wTsFtI {
  background-color: var(--white);
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.perfil-emprendedor2 .vector-8-wTsFtI {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 390px;
}

.perfil-emprendedor2 .iconly-bold-category-wTsFtI {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 53px;
  position: absolute;
  top: 11px;
  width: 23px;
}

.perfil-emprendedor2 .category-T8tRAM {
  background-color: transparent;
  height: 20px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 19px;
}

.perfil-emprendedor2 .category-hiAFxI {
  background-color: transparent;
  height: 20px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 19px;
}

.perfil-emprendedor2 .vector-wTsFtI {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 141px;
  position: absolute;
  top: 13px;
  width: 21px;
}

.perfil-emprendedor2 .icon-wTsFtI {
  background-color: transparent;
  cursor: pointer;
  height: 23px;
  left: 232px;
  mix-blend-mode: normal;
  position: absolute;
  top: 11px;
  width: 18px;
}

.perfil-emprendedor2 .icon-xxhrfS {
  background-color: transparent;
  cursor: pointer;
  height: 21px;
  left: 317px;
  mix-blend-mode: normal;
  position: absolute;
  top: 13px;
  width: 24px;
}

.perfil-emprendedor2 .editar-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 177px;
  position: absolute;
  top: 312px;
  width: 145px;
}

.perfil-emprendedor2 .rectangle-1457-1JDuUp {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 145px;
}

.perfil-emprendedor2 .editar-catlogo-1JDuUp {
  background-color: transparent;
  height: 38px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 145px;
}

.perfil-emprendedor2 .status-bar-i-phone-13-13-pro-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.perfil-emprendedor2 .indicators-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.perfil-emprendedor2 .elements-signal-DFyBAk {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.perfil-emprendedor2 .icon-bar_chart-J8m9bL {
  background-color: transparent;
  height: 12px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.perfil-emprendedor2 .elements-connection-DFyBAk {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.perfil-emprendedor2 .icon-signal-rfGD5B {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.perfil-emprendedor2 .elements-battery-DFyBAk {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.perfil-emprendedor2 .border-4jFiZR {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.perfil-emprendedor2 .cap-4jFiZR {
  background-color: transparent;
  height: 4px;
  left: 26px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.perfil-emprendedor2 .capacity-4jFiZR {
  background-color: var(--white);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.perfil-emprendedor2 .mic-cam-ioFxYm {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.perfil-emprendedor2 .elements-time-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.perfil-emprendedor2 .time-ZiAW4B {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.perfil-emprendedor2 .group-261-C61RwL {
  background-color: transparent;
  height: 38px;
  left: 25px;
  position: absolute;
  top: 312px;
  width: 145px;
}

.perfil-emprendedor2 .rectangle-6-FD978N {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 145px;
}

.perfil-emprendedor2 .enviar-FD978N {
  background-color: transparent;
  height: 38px;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 125px;
}

.perfil-emprendedor2 .cali-colombia-somos-C61RwL {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  position: absolute;
  text-align: left;
  top: 185px;
  width: 328px;
}

.perfil-emprendedor2 .span0-URCrkl {
}

.perfil-emprendedor2 .span1-URCrkl {
}

.perfil-emprendedor2 .nav-emprendimiento-C61RwL {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 769px;
  width: 390px;
}

.perfil-emprendedor2 .rectangle-1463-VNtfJe {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.perfil-emprendedor2 .union-VNtfJe {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 37px;
}

.perfil-emprendedor2 .union-t9QcV5 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 34px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.perfil-emprendedor2 .union-pIWv0k {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.perfil-emprendedor2 .union-rK7kDd {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}

.perfil-emprendedor2 .chat-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 27px;
  left: 344px;
  position: absolute;
  top: 98px;
  width: 27px;
}
