/* screen - perfil-emprendedor-3 */

.perfil-emprendedor-3 {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.perfil-emprendedor-3 .rectangle-16-C61RwL {
  background-color: transparent;
  height: 67px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 97px;
  width: 67px;
}

.perfil-emprendedor-3 .rectangle-18-C61RwL {
  background-color: var(--limon-osc);
  border-radius: 40px;
  height: 22px;
  left: 75px;
  mix-blend-mode: normal;
  position: absolute;
  top: 143px;
  width: 22px;
}

.perfil-emprendedor-3 .blink-custom-jewels-C61RwL {
  background-color: transparent;
  height: auto;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 101px;
  width: auto;
}

.perfil-emprendedor-3 .blinkcustomjewels-C61RwL {
  background-color: transparent;
  height: auto;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 123px;
  width: auto;
}

.perfil-emprendedor-3 .cali-colombia-somos-C61RwL {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  position: absolute;
  text-align: left;
  top: 185px;
  width: 328px;
}

.perfil-emprendedor-3 .span0-URCrkl {
}

.perfil-emprendedor-3 .span1-URCrkl {
}

.perfil-emprendedor-3 .rectangle-8-C61RwL {
  background-color: transparent;
  height: 72px;
  left: 10px;
  mix-blend-mode: normal;
  position: absolute;
  top: -1px;
  width: 390px;
}

.perfil-emprendedor-3 .iconly-bold-location-C61RwL {
  background-color: transparent;
  height: 16px;
  left: 26px;
  mix-blend-mode: normal;
  position: absolute;
  top: 186px;
  width: 15px;
}

.perfil-emprendedor-3 .location-JGC954 {
  background-color: transparent;
  height: 13px;
  left: 2px;
  position: relative;
  top: 1px;
  width: 11px;
}

.perfil-emprendedor-3 .location-vNZFNp {
  background-color: transparent;
  height: 13px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 11px;
}

.perfil-emprendedor-3 .group-261-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 25px;
  position: absolute;
  top: 312px;
  width: 145px;
}

.perfil-emprendedor-3 .rectangle-6-FD978N {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 145px;
}

.perfil-emprendedor-3 .enviar-FD978N {
  background-color: transparent;
  height: 38px;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 125px;
}

.perfil-emprendedor-3 .siguiendo-C61RwL {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 261px;
  width: auto;
}

.perfil-emprendedor-3 .x29-emprendimientos-C61RwL {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 282px;
  width: auto;
}

.perfil-emprendedor-3 .span0-Gh1juD {
}

.perfil-emprendedor-3 .span1-Gh1juD {
}

.perfil-emprendedor-3 .x233-seguidores-C61RwL {
  background-color: transparent;
  height: auto;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 143px;
  width: auto;
}

.perfil-emprendedor-3 .span0-fcF87p {
}

.perfil-emprendedor-3 .span1-fcF87p {
}

.perfil-emprendedor-3 .group-266-C61RwL {
  background-color: transparent;
  height: 38px;
  left: 329px;
  position: absolute;
  top: 312px;
  width: 42px;
}

.perfil-emprendedor-3 .iconly-bold-setting-mVZ9e5 {
  background-color: transparent;
  height: 24px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 7px;
  width: 24px;
}

.perfil-emprendedor-3 .setting-6sULaG {
  background-color: transparent;
  height: 20px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 19px;
}

.perfil-emprendedor-3 .icon-settings-3bwRu0 {
  background-color: transparent;
  height: 20px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 19px;
}

.perfil-emprendedor-3 .rectangle-1327-mVZ9e5 {
  background-color: transparent;
  border-radius: 7.5px;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 42px;
}

.perfil-emprendedor-3 .icon-star-C61RwL {
  background-color: transparent;
  height: 11px;
  left: 80px;
  mix-blend-mode: normal;
  position: absolute;
  top: 148px;
  width: 11px;
}

.perfil-emprendedor-3 .group-268-C61RwL {
  background-color: transparent;
  height: 11px;
  left: 111px;
  position: absolute;
  top: 88px;
  width: 95px;
}

.perfil-emprendedor-3 .usuario-verificado-ESsBue {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.perfil-emprendedor-3 .group-267-ESsBue {
  background-color: transparent;
  height: 9px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 9px;
}

.perfil-emprendedor-3 .subtract-xAuVqf {
  background-color: transparent;
  height: 9px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 9px;
}

.perfil-emprendedor-3 .emprendedor-C61RwL {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 366px;
  width: 390px;
}

.perfil-emprendedor-3 .vector-7-wTsFtI {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: -1px;
  width: 390px;
}

.perfil-emprendedor-3 .rectangle-1336-wTsFtI {
  background-color: var(--white);
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.perfil-emprendedor-3 .iconly-bold-category-wTsFtI {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 53px;
  mix-blend-mode: normal;
  position: absolute;
  top: 11px;
  width: 23px;
}

.perfil-emprendedor-3 .category-T8tRAM {
  background-color: transparent;
  height: 20px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 19px;
}

.perfil-emprendedor-3 .category-hiAFxI {
  background-color: transparent;
  height: 20px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 19px;
}

.perfil-emprendedor-3 .vector-wTsFtI {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 141px;
  position: absolute;
  top: 13px;
  width: 21px;
}

.perfil-emprendedor-3 .icon-wTsFtI {
  background-color: transparent;
  cursor: pointer;
  height: 23px;
  left: 232px;
  mix-blend-mode: normal;
  position: absolute;
  top: 11px;
  width: 18px;
}

.perfil-emprendedor-3 .icon-xxhrfS {
  background-color: transparent;
  cursor: pointer;
  height: 21px;
  left: 317px;
  mix-blend-mode: normal;
  position: absolute;
  top: 13px;
  width: 24px;
}

.perfil-emprendedor-3 .status-bar-i-phone-13-13-pro-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.perfil-emprendedor-3 .indicators-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.perfil-emprendedor-3 .elements-signal-DFyBAk {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.perfil-emprendedor-3 .cellular-connection-J8m9bL {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.perfil-emprendedor-3 .elements-connection-DFyBAk {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.perfil-emprendedor-3 .icon-signal-rfGD5B {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.perfil-emprendedor-3 .elements-battery-DFyBAk {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.perfil-emprendedor-3 .border-4jFiZR {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.perfil-emprendedor-3 .cap-4jFiZR {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.perfil-emprendedor-3 .capacity-4jFiZR {
  background-color: var(--white);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.perfil-emprendedor-3 .mic-cam-ioFxYm {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.perfil-emprendedor-3 .elements-time-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.perfil-emprendedor-3 .time-ZiAW4B {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.perfil-emprendedor-3 .frame-88-C61RwL::-webkit-scrollbar {
  display: none;
  width: 0;
}

.perfil-emprendedor-3 .frame-88-C61RwL {
  background-color: transparent;
  height: 474px;
  left: 0px;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 422px;
  width: 390px;
}

.perfil-emprendedor-3 .contenido-FKNjej {
  background-color: transparent;
  border-radius: 7.42px;
  height: 241px;
  left: 200px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 178px;
}

.perfil-emprendedor-3 .contenido-QzEA4g {
  background-color: transparent;
  height: 241px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 178px;
}

.perfil-emprendedor-3 .group-244-QzEA4g {
  background-color: transparent;
  height: 241px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 178px;
}

.perfil-emprendedor-3 .rectangle-54-yD2Xxi {
  background-color: transparent;
  height: 241px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 178px;
}

.perfil-emprendedor-3 .group-243-QzEA4g {
  background-color: transparent;
  height: 41px;
  left: 11px;
  position: absolute;
  top: 193px;
  width: 159px;
}

.perfil-emprendedor-3 .view-hKxsRZ {
  background-color: transparent;
  height: 12px;
  left: 1px;
  position: absolute;
  top: 28px;
  width: 13px;
}

.perfil-emprendedor-3 .intersect-UoVDl6 {
  background-color: transparent;
  height: 9px;
  left: -1px;
  position: absolute;
  top: 1px;
  width: 13px;
}

.perfil-emprendedor-3 .ellipse-31-UoVDl6 {
  background-color: transparent;
  border-radius: 2.19px/2.05px;
  height: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 4px;
}

.perfil-emprendedor-3 .x1029-hKxsRZ {
  background-color: transparent;
  height: auto;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 27px;
  width: auto;
}

.perfil-emprendedor-3 .x913-hKxsRZ {
  background-color: transparent;
  height: auto;
  left: 75px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 27px;
  width: auto;
}

.perfil-emprendedor-3 .vengan-a-probar-anitasbowls-hKxsRZ {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 153px;
}

.perfil-emprendedor-3 .heart-QzEA4g {
  background-color: transparent;
  height: 10px;
  left: 72px;
  mix-blend-mode: normal;
  position: absolute;
  top: 220px;
  width: 12px;
}

.perfil-emprendedor-3 .group-270-FKNjej {
  background-color: transparent;
  border-radius: 10px;
  height: 241px;
  left: 13px;
  position: absolute;
  top: 0px;
  width: 178px;
}

.perfil-emprendedor-3 .group-244-U2kpj1 {
  background-color: transparent;
  height: 241px;
  left: 0px;
  opacity: 0.5;
  position: relative;
  top: 0px;
  width: 178px;
}

.perfil-emprendedor-3 .rectangle-54-a6dwYN {
  background-color: transparent;
  height: 241px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 178px;
}

.perfil-emprendedor-3 .group-272-FKNjej {
  background-color: transparent;
  border-radius: 7.4px;
  height: 241px;
  left: 13px;
  mix-blend-mode: normal;
  position: absolute;
  top: 250px;
  width: 178px;
}

.perfil-emprendedor-3 .group-272-l9xnyQ {
  background-color: transparent;
  height: 172px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 178px;
}

.perfil-emprendedor-3 .group-244-l9xnyQ {
  background-color: transparent;
  height: 241px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 178px;
}

.perfil-emprendedor-3 .rectangle-54-4UsuUo {
  background-color: transparent;
  height: 172px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 178px;
}

.perfil-emprendedor-3 .group-243-l9xnyQ {
  background-color: transparent;
  height: 57px;
  left: 11px;
  position: absolute;
  top: 177px;
  width: 159px;
}

.perfil-emprendedor-3 .view-ms2xTp {
  background-color: transparent;
  height: 12px;
  left: 1px;
  position: absolute;
  top: 44px;
  width: 13px;
}

.perfil-emprendedor-3 .intersect-ce8Q21 {
  background-color: transparent;
  height: 1px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 1px;
}

.perfil-emprendedor-3 .ellipse-31-ce8Q21 {
  background-color: transparent;
  border-radius: 2.19px/2.05px;
  height: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 4px;
}

.perfil-emprendedor-3 .x1029-ms2xTp {
  background-color: transparent;
  height: auto;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 43px;
  width: auto;
}

.perfil-emprendedor-3 .x913-ms2xTp {
  background-color: transparent;
  height: auto;
  left: 75px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 43px;
  width: auto;
}

.perfil-emprendedor-3 .vengan-a-probar-anitasbowls-ms2xTp {
  background-color: transparent;
  height: 32px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 153px;
}

.perfil-emprendedor-3 .heart-l9xnyQ {
  background-color: transparent;
  height: 1px;
  left: 78px;
  mix-blend-mode: normal;
  position: absolute;
  top: 226px;
  width: 1px;
}

.perfil-emprendedor-3 .group-271-FKNjej {
  background-color: transparent;
  border-radius: 7.44px;
  height: 241px;
  left: 200px;
  position: absolute;
  top: 250px;
  width: 178px;
}

.perfil-emprendedor-3 .group-244-RzF3FG {
  background-color: transparent;
  height: 241px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 178px;
}

.perfil-emprendedor-3 .rectangle-54-E4rXD0 {
  background-color: transparent;
  height: 172px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 178px;
}

.perfil-emprendedor-3 .group-243-RzF3FG {
  background-color: transparent;
  height: 41px;
  left: 11px;
  position: absolute;
  top: 193px;
  width: 159px;
}

.perfil-emprendedor-3 .view-ANrHio {
  background-color: transparent;
  height: 12px;
  left: 1px;
  position: absolute;
  top: 28px;
  width: 13px;
}

.perfil-emprendedor-3 .intersect-AKXp4h {
  background-color: transparent;
  height: 1px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 1px;
}

.perfil-emprendedor-3 .ellipse-31-AKXp4h {
  background-color: transparent;
  border-radius: 2.19px/2.04px;
  height: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 4px;
}

.perfil-emprendedor-3 .x1029-ANrHio {
  background-color: transparent;
  height: auto;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 27px;
  width: auto;
}

.perfil-emprendedor-3 .x913-ANrHio {
  background-color: transparent;
  height: auto;
  left: 75px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 27px;
  width: auto;
}

.perfil-emprendedor-3 .vengan-a-probar-anitasbowls-ANrHio {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 153px;
}

.perfil-emprendedor-3 .heart-RzF3FG {
  background-color: transparent;
  height: 1px;
  left: 78px;
  mix-blend-mode: normal;
  position: absolute;
  top: 226px;
  width: 1px;
}

.perfil-emprendedor-3 .camera-FKNjej {
  background-color: transparent;
  height: 59px;
  left: 73px;
  position: absolute;
  top: 76px;
  width: 59px;
}

.perfil-emprendedor-3 .rectangle-354-yfTbuF {
  background-color: transparent;
  height: 49px;
  left: 2px;
  position: absolute;
  top: 5px;
  width: 54px;
}

.perfil-emprendedor-3 .ellipse-57-yfTbuF {
  background-color: transparent;
  border-radius: 12.21px;
  height: 24px;
  left: 17px;
  position: absolute;
  top: 20px;
  width: 24px;
}

.perfil-emprendedor-3 .agregar-contenido-FKNjej {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 147px;
  width: 152px;
}

.perfil-emprendedor-3 .nav-emprendimiento-C61RwL {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 771px;
  width: 390px;
}

.perfil-emprendedor-3 .rectangle-1463-VNtfJe {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.perfil-emprendedor-3 .union-VNtfJe {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 37px;
}

.perfil-emprendedor-3 .union-t9QcV5 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 34px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.perfil-emprendedor-3 .union-pIWv0k {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.perfil-emprendedor-3 .union-rK7kDd {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}

.perfil-emprendedor-3 .editar-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 177px;
  position: absolute;
  top: 312px;
  width: 145px;
}

.perfil-emprendedor-3 .rectangle-1457-1JDuUp {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 145px;
}

.perfil-emprendedor-3 .editar-catlogo-1JDuUp {
  background-color: transparent;
  height: 38px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 145px;
}

.perfil-emprendedor-3 .chat-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 27px;
  left: 344px;
  position: absolute;
  top: 98px;
  width: 27px;
}
