/* screen - registro-emprendedor6 */

.registro-emprendedor6 {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.registro-emprendedor6 .te-enviaremos-un-cdi-C61RwL {
  background-color: transparent;
  height: auto;
  left: 58px;
  letter-spacing: -0.48px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: justify;
  top: 211px;
  width: 284px;
}

.registro-emprendedor6 .vector-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 25px;
  position: absolute;
  top: 48px;
  width: 10px;
}

.registro-emprendedor6 .rectangle-34-C61RwL {
  background-color: transparent;
  border-radius: 7.25px;
  height: 9px;
  left: 65px;
  position: absolute;
  top: 50px;
  width: 298px;
}

.registro-emprendedor6 .rectangle-35-C61RwL {
  background-color: var(--cielo);
  border-radius: 7.25px;
  height: 9px;
  left: 65px;
  mix-blend-mode: normal;
  position: absolute;
  top: 50px;
  width: 135px;
}

.registro-emprendedor6 .verificacin-C61RwL {
  background-color: transparent;
  height: auto;
  left: 148px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 91px;
  width: auto;
}

.registro-emprendedor6 .group-232-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 66px;
  position: absolute;
  top: 618px;
  width: 259px;
}

.registro-emprendedor6 .rectangle-6-5SfYAT {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 259px;
}

.registro-emprendedor6 .enviar-5SfYAT {
  background-color: transparent;
  height: 38px;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 224px;
}

.registro-emprendedor6 .reenviar-cdigo-C61RwL {
  background-color: transparent;
  color: var(--cielo-osc);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 459px;
  width: 336px;
}

.registro-emprendedor6 .utilizar-otro-medio-de-verificacin-C61RwL {
  background-color: transparent;
  color: var(--cielo-osc);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 492px;
  width: 336px;
}

.registro-emprendedor6 .cdigo-verificacin-C61RwL {
  background-color: transparent;
  height: 84px;
  left: 28px;
  overflow: hidden;
  position: absolute;
  top: 319px;
  width: 336px;
}

.registro-emprendedor6 .rectangle-31-6vtybm {
  background-color: var(--cuadros-relleno);
  border-radius: 7.5px;
  height: 84px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 52px;
}

.registro-emprendedor6 .rectangle-36-6vtybm {
  background-color: var(--cuadros-relleno);
  border-radius: 7.5px;
  height: 84px;
  left: 57px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 52px;
}

.registro-emprendedor6 .rectangle-37-6vtybm {
  background-color: var(--cuadros-relleno);
  border-radius: 7.5px;
  height: 84px;
  left: 114px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 52px;
}

.registro-emprendedor6 .rectangle-38-6vtybm {
  background-color: var(--cuadros-relleno);
  border-radius: 7.5px;
  height: 84px;
  left: 171px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 52px;
}

.registro-emprendedor6 .rectangle-39-6vtybm {
  background-color: var(--cuadros-relleno);
  border-radius: 7.5px;
  height: 84px;
  left: 227px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 52px;
}

.registro-emprendedor6 .x1-6vtybm {
  background-color: transparent;
  height: 84px;
  left: 0px;
  letter-spacing: -0.84px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 52px;
}

.registro-emprendedor6 .x3-6vtybm {
  background-color: transparent;
  height: 84px;
  left: 57px;
  letter-spacing: -0.84px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 52px;
}

.registro-emprendedor6 .x5-6vtybm {
  background-color: transparent;
  height: 84px;
  left: 114px;
  letter-spacing: -0.84px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 52px;
}

.registro-emprendedor6 .x2-6vtybm {
  background-color: transparent;
  height: 84px;
  left: 171px;
  letter-spacing: -0.84px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 52px;
}

.registro-emprendedor6 .x6-6vtybm {
  background-color: transparent;
  height: 84px;
  left: 227px;
  letter-spacing: -0.84px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 52px;
}

.registro-emprendedor6 .rectangle-40-6vtybm {
  background-color: var(--cuadros-relleno);
  border-radius: 7.5px;
  height: 84px;
  left: 284px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 52px;
}

.registro-emprendedor6 .x0-6vtybm {
  background-color: transparent;
  height: 84px;
  left: 284px;
  letter-spacing: -0.84px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 52px;
}
