/* screen - registro-cliente-5 */

.registro-cliente-5 {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.registro-cliente-5 .vector-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 24px;
  position: absolute;
  top: 48px;
  width: 10px;
}

.registro-cliente-5 .rectangle-34-C61RwL {
  background-color: transparent;
  border-radius: 7.25px;
  height: 9px;
  left: 65px;
  position: absolute;
  top: 50px;
  width: 298px;
}

.registro-cliente-5 .rectangle-35-C61RwL {
  background-color: var(--cielo);
  border-radius: 7.25px;
  height: 9px;
  left: 65px;
  mix-blend-mode: normal;
  position: absolute;
  top: 50px;
  width: 290px;
}

.registro-cliente-5 .ya-casi-terminamos-C61RwL {
  background-color: transparent;
  height: auto;
  left: 119px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 84px;
  width: auto;
}

.registro-cliente-5 .group-232-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 66px;
  position: absolute;
  top: 610px;
  width: 259px;
}

.registro-cliente-5 .rectangle-6-5SfYAT {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 259px;
}

.registro-cliente-5 .enviar-5SfYAT {
  background-color: transparent;
  height: 38px;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 224px;
}

.registro-cliente-5 .falta-poco-queremos-C61RwL {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 131px;
  width: 328px;
}

.registro-cliente-5 .etiquetas-C61RwL {
  background-color: transparent;
  height: 38px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 281px;
  width: 119px;
}

.registro-cliente-5 .rectangle-36-nVyqPw {
  background-color: var(--gray-icon);
  border-radius: 7.5px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 119px;
}

.registro-cliente-5 .ecolgico-nVyqPw {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 119px;
}

.registro-cliente-5 .etiquetas-VMr6Om {
  background-color: transparent;
  height: 38px;
  left: 153px;
  mix-blend-mode: normal;
  position: absolute;
  top: 281px;
  width: 94px;
}

.registro-cliente-5 .rectangle-37-B1UdRR {
  background-color: var(--gray-icon);
  border-radius: 7.5px;
  height: 38px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 94px;
}

.registro-cliente-5 .ropa-B1UdRR {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 94px;
}

.registro-cliente-5 .etiquetas-mzXdH9 {
  background-color: transparent;
  height: 38px;
  left: 254px;
  mix-blend-mode: normal;
  position: absolute;
  top: 281px;
  width: 105px;
}

.registro-cliente-5 .rectangle-39-xpWAVa {
  background-color: var(--gray-icon);
  border-radius: 7.5px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 105px;
}

.registro-cliente-5 .bebidas-xpWAVa {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 105px;
}

.registro-cliente-5 .etiquetas-QxM5SU {
  background-color: transparent;
  height: 38px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 335px;
  width: 96px;
}

.registro-cliente-5 .rectangle-39-XlMW53 {
  background-color: var(--gray-icon);
  border-radius: 7.5px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 96px;
}

.registro-cliente-5 .comida-XlMW53 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 96px;
}

.registro-cliente-5 .rectangle-30-C61RwL {
  background-color: var(--cuadros-relleno);
  border-radius: 7.5px;
  height: 44px;
  left: 24px;
  mix-blend-mode: normal;
  position: absolute;
  top: 214px;
  width: 336px;
}

.registro-cliente-5 .escribe-etiquetas-C61RwL {
  background-color: transparent;
  height: auto;
  left: 43px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 227px;
  width: 323px;
}

.registro-cliente-5 .etiquetas-2P4qUJ {
  background-color: transparent;
  height: 38px;
  left: 144px;
  mix-blend-mode: normal;
  position: absolute;
  top: 335px;
  width: 97px;
}

.registro-cliente-5 .rectangle-39-gxxtcN {
  background-color: var(--gray-icon);
  border-radius: 7.5px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 97px;
}

.registro-cliente-5 .msica-gxxtcN {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 97px;
}

.registro-cliente-5 .etiquetas-qr8e7q {
  background-color: transparent;
  height: 38px;
  left: 262px;
  mix-blend-mode: normal;
  position: absolute;
  top: 335px;
  width: 97px;
}

.registro-cliente-5 .rectangle-39-81xiT4 {
  background-color: var(--gray-icon);
  border-radius: 7.5px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 97px;
}

.registro-cliente-5 .joyera-81xiT4 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 97px;
}

.registro-cliente-5 .etiquetas-J1YQmd {
  background-color: transparent;
  height: 38px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 391px;
  width: 97px;
}

.registro-cliente-5 .rectangle-39-WZQysO {
  background-color: var(--gray-icon);
  border-radius: 7.5px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 97px;
}

.registro-cliente-5 .bolsos-WZQysO {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 97px;
}

.registro-cliente-5 .etiquetas-a5WPlX {
  background-color: transparent;
  height: 38px;
  left: 262px;
  mix-blend-mode: normal;
  position: absolute;
  top: 390px;
  width: 97px;
}

.registro-cliente-5 .rectangle-39-PmuftX {
  background-color: var(--gray-icon);
  border-radius: 7.5px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 97px;
}

.registro-cliente-5 .detalles-PmuftX {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 97px;
}

.registro-cliente-5 .etiquetas-HlKRTo {
  background-color: transparent;
  height: 38px;
  left: 145px;
  mix-blend-mode: normal;
  position: absolute;
  top: 390px;
  width: 97px;
}

.registro-cliente-5 .rectangle-39-fWxLym {
  background-color: var(--gray-icon);
  border-radius: 7.5px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 97px;
}

.registro-cliente-5 .zapatos-fWxLym {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 97px;
}
