/* screen - registro-cliente6 */

.registro-cliente6 {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.registro-cliente6 .datos-registro-cliente-C61RwL {
  background-color: transparent;
  height: 23px;
  left: 51px;
  mix-blend-mode: normal;
  position: absolute;
  top: 191px;
  width: 290px;
}

.registro-cliente6 .line-13-QLlYxn {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 22px;
  width: 290px;
}

.registro-cliente6 .camila-QLlYxn {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 263px;
}

.registro-cliente6 .line-17-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 51px;
  position: absolute;
  top: 434px;
  width: 290px;
}

.registro-cliente6 .departamento-C61RwL {
  background-color: transparent;
  height: auto;
  left: 51px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 411px;
  width: 263px;
}

.registro-cliente6 .line-18-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 51px;
  position: absolute;
  top: 489px;
  width: 290px;
}

.registro-cliente6 .ciudad-C61RwL {
  background-color: transparent;
  height: auto;
  left: 51px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 466px;
  width: 263px;
}

.registro-cliente6 .vector-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 24px;
  position: absolute;
  top: 48px;
  width: 10px;
}

.registro-cliente6 .rectangle-34-C61RwL {
  background-color: transparent;
  border-radius: 7.25px;
  height: 9px;
  left: 65px;
  position: absolute;
  top: 50px;
  width: 298px;
}

.registro-cliente6 .rectangle-35-C61RwL {
  background-color: var(--cielo);
  border-radius: 7.25px;
  height: 9px;
  left: 65px;
  mix-blend-mode: normal;
  position: absolute;
  top: 50px;
  width: 74px;
}

.registro-cliente6 .regstrate-C61RwL {
  background-color: transparent;
  height: auto;
  left: 154px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 86px;
  width: auto;
}

.registro-cliente6 .rectangle-48-C61RwL {
  background-color: var(--cielo);
  border-radius: 1px;
  height: 18px;
  left: 66px;
  mix-blend-mode: normal;
  position: absolute;
  top: 547px;
  width: 18px;
}

.registro-cliente6 .acepto-trminos-y-condiciones-de-uso-C61RwL {
  background-color: transparent;
  height: auto;
  left: 87px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 546px;
  width: 287px;
}

.registro-cliente6 .span0-GAi4C5 {
}

.registro-cliente6 .span1-GAi4C5 {
  text-decoration: underline;
}

.registro-cliente6 .span2-GAi4C5 {
}

.registro-cliente6 .group-232-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 66px;
  position: absolute;
  top: 712px;
  width: 259px;
}

.registro-cliente6 .rectangle-6-5SfYAT {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 259px;
}

.registro-cliente6 .enviar-5SfYAT {
  background-color: transparent;
  height: 38px;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 224px;
}

.registro-cliente6 .vector-C61RwL {
  background-color: transparent;
  height: 11px;
  left: 315px;
  position: absolute;
  top: 412px;
  width: 19px;
}

.registro-cliente6 .vector-VMr6Om {
  background-color: transparent;
  height: 11px;
  left: 315px;
  position: absolute;
  top: 466px;
  width: 19px;
}

.registro-cliente6 .datos-registro-cliente-VMr6Om {
  background-color: transparent;
  height: 23px;
  left: 51px;
  mix-blend-mode: normal;
  position: absolute;
  top: 301px;
  width: 290px;
}

.registro-cliente6 .line-13-K8jDZW {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 23px;
  width: 290px;
}

.registro-cliente6 .camimgmailcom-K8jDZW {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 263px;
}

.registro-cliente6 .datos-registro-cliente-mzXdH9 {
  background-color: transparent;
  height: 23px;
  left: 51px;
  mix-blend-mode: normal;
  position: absolute;
  top: 356px;
  width: 290px;
}

.registro-cliente6 .line-13-Bb8NUf {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 23px;
  width: 290px;
}

.registro-cliente6 .x300-123-4567-Bb8NUf {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 263px;
}

.registro-cliente6 .check-C61RwL {
  background-color: transparent;
  height: 13px;
  left: 68px;
  mix-blend-mode: normal;
  position: absolute;
  top: 549px;
  width: 13px;
}

.registro-cliente6 .datos-registro-cliente-QxM5SU {
  background-color: transparent;
  height: 23px;
  left: 51px;
  mix-blend-mode: normal;
  position: absolute;
  top: 247px;
  width: 290px;
}

.registro-cliente6 .line-13-OuxjVj {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 23px;
  width: 290px;
}

.registro-cliente6 .apellidos-OuxjVj {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 263px;
}
