/* screen - vista-ahorro-3 */

.vista-ahorro-3 {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.vista-ahorro-3 .status-bar-i-phone-13-13-pro-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.vista-ahorro-3 .indicators-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.vista-ahorro-3 .elements-signal-DFyBAk {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.vista-ahorro-3 .icon-bar_chart-J8m9bL {
  background-color: transparent;
  height: 12px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.vista-ahorro-3 .elements-connection-DFyBAk {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.vista-ahorro-3 .icon-signal-rfGD5B {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.vista-ahorro-3 .elements-battery-DFyBAk {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.vista-ahorro-3 .border-4jFiZR {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.vista-ahorro-3 .cap-4jFiZR {
  background-color: transparent;
  height: 4px;
  left: 26px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.vista-ahorro-3 .capacity-4jFiZR {
  background-color: var(--black);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.vista-ahorro-3 .mic-cam-ioFxYm {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.vista-ahorro-3 .elements-time-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.vista-ahorro-3 .time-ZiAW4B {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.vista-ahorro-3 .image-20-C61RwL {
  background-color: transparent;
  height: 237px;
  left: -0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 121px;
  width: 390px;
}

.vista-ahorro-3 .la-moto-de-mis-sueos-C61RwL {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 90px;
  width: 199px;
}

.vista-ahorro-3 .vamos-por-138400-C61RwL {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 386px;
  width: 122px;
}

.vista-ahorro-3 .meta-1560000-C61RwL {
  background-color: transparent;
  height: auto;
  left: 245px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 385px;
  width: 125px;
}

.vista-ahorro-3 .span0-JJ4ZPN {
}

.vista-ahorro-3 .span1-JJ4ZPN {
}

.vista-ahorro-3 .rectangle-34-C61RwL {
  background-color: transparent;
  height: 5px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 376px;
  width: 352px;
}

.vista-ahorro-3 .rectangle-35-C61RwL {
  background-color: var(--azul);
  border-radius: 7.67px;
  height: 5px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 377px;
  width: 85px;
}

.vista-ahorro-3 .tiempo-lmite-estimado-C61RwL {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 425px;
  width: 285px;
}

.vista-ahorro-3 .x12072021-C61RwL {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 448px;
  width: 285px;
}

.vista-ahorro-3 .group-293-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 19px;
  position: absolute;
  top: 711px;
  width: 354px;
}

.vista-ahorro-3 .rectangle-6-xlHGDl {
  background-color: transparent;
  height: 38px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 354px;
}

.vista-ahorro-3 .group-313-xlHGDl {
  background-color: transparent;
  height: 14px;
  left: 84px;
  position: absolute;
  top: 10px;
  width: 194px;
}

.vista-ahorro-3 .aadir-dinero-a-mi-ahorro-iQ7yEj {
  background-color: transparent;
  height: auto;
  left: 7px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 185px;
}

.vista-ahorro-3 .union-iQ7yEj {
  background-color: transparent;
  height: 10px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 10px;
}

.vista-ahorro-3 .nav-emprendimiento-C61RwL {
  background-color: transparent;
  height: 94px;
  left: -0px;
  position: absolute;
  top: 753px;
  width: 390px;
}

.vista-ahorro-3 .we-are-caotic-mi-plan-C61RwL {
  background-color: transparent;
  height: auto;
  left: 117px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 59px;
  width: auto;
}

.vista-ahorro-3 .span0-f7VaDk {
}

.vista-ahorro-3 .span1-f7VaDk {
}
